<h2>範例說明</h2>
這裡示範計算檔案的Hash值，程式碼將同時計算MD5及SHA256，
調用的函數庫支援MD5、SHA1、SHA256、SHA512等算法，
詳細請參考openssl的支援範圍
<h2>環境準備</h2>
安裝crypto函數庫
<code class="brush: shell">npm install crypto</code>
<h2>程式碼</h2>
<code class="brush: js">
//需要讀寫檔案，調用fs函數庫，fs函數庫屬核心函數庫，不用安裝
var fs=require('fs');
var crypto=require('crypto');

function hash(filename,endfunc,readfunc){
	//新增MD5、SHA256的Hash物件
	var hash_md5=crypto.createHash('md5');
	var hash_sha256=crypto.createHash('sha256');
	//新增檔案讀取流
	var file=fs.ReadStream(filename);
	if(readfunc){//如果有定義readfunc則將讀取進度傳給readfunc
		var total=0;
		//當讀取流每讀入一段檔案資料時，執行該函數，讀入的資料將傳給變數d
		file.on('data',function (d){
			//將讀取到的資料傳給Hash物件進行計算
			hash_md5.update(d);
			hash_sha256.update(d);
			total+=d.length;
			readfunc(total);
		});
	}else{
		//請參考上方的註解
		file.on('data',function (d){
			hash_md5.update(d);
			hash_sha256.update(d);
		});
	}
	//計算完畢後執行的程式
	file.on('end',function (){
		//將計算結果傳給endfunc
		endfunc({
			'md5': hash_md5.digest('hex'),
			'sha256': hash_sha256.digest('hex')
		});
	});
}
var file=[//準備進行Hash的檔案清單
'/path/to/file1',
'/path/to/file2',
'/path/to/file3',
'/path/to/file4',
'/path/to/file5'
];

var fileat=0;//計算到哪個檔案
var save=function(sum){
	//輸出上一個檔案的計算結果
	console.log('file='+file[fileat]+' md5='+sum.md5);
	console.log('file='+file[fileat]+' sha256='+sum.sha256);
	fileat++;
	if(fileat&lt;file.length){
		fs.stat(file[fileat], function(err,stats){//取得檔案大小後進行Hash
			filesize=stats.size;
			if(err) return;
			hash(file[fileat],save,per);
		});
	}
}
var per=function(at){//輸出計算進度
	console.log('per: '+Math.floor(at/filesize*100)+' %');
}
var filesize=0;//儲存當前計算的檔案的檔案大小
fs.stat(file[fileat], function(err,stats){//取得檔案大小後進行Hash，與第52~56行相同
	filesize=stats.size;
	if(err) return;
	hash(file[fileat],save,per);
});
</code>