<h2>MySQL連線套件安裝與調用</h2>
於執行的程式的目錄下執行以下指令
<code class="brush: shell">npm install mysql</code>
並於程式開頭加上以下程式
<code class="brush: js">var mysql=require('mysql');</code>
<h2>連線、選擇資料庫</h2>
以下為完整程式
<code class="brush: js">
var mysql=require('mysql');
var db=mysql.createConnection({//連線資料庫
	'host': 'localhost',//資料庫位址
	'user': 'username',//資料庫帳號
	'password': 'password',//資料庫密碼
	'port': 3306//資料庫port
});
db.query('USE `mgmggt_hashtest`;',function (err){//選擇資料庫
	//當發生錯誤時執行的程式段，此範例輸出錯誤訊息
	if(err) console.log('MySQL: '+err);
});
</code>