<h2>核心套件</h2>
<ul>
	<li>crypto - 通過OpenSSL提供加解密等功能的函式庫</li>
	<li>fs - 檔案系統讀寫</li>
	<li>util - 提供字串格式化、變數型態判斷等功能</li>
</ul>
<h2>NPM套件</h2>
<ul>
	<li>cryptico - RSA加解密、Key產生</li>
	<li>mega - 網路硬碟/免空 mega.co.nz 的函式庫</li>
	<li>mysql - 資料庫 MySQL 的函式庫</li>
	<li>websocket - HTML5 中 WebSocket 的函式庫</li>
</ul>
<h2>NPM套件&nbsp;-&nbsp;工具</h2>
<ul>
	<li>nvm - 套件版本管理工具</li>
</ul>