<h2>DOM 操作擴充</h2>
擴充了以下函數：
<ul>
	<li>$(select)：選擇器，簡化程式長度</li>
	<li>$.tag(tagname[,attr]): 建立標籤物件</li>
	<li>.$add(tagname[,attr[,before[,returnParent]]])：插入標籤</li>
	<li>.$add(tagElement[,before[,returnParent]])：插入標籤</li>
	<li>.$replace(tagname[,attr[,returnParent]]): 取代標籤</li>
	<li>.$replace(tagElement[,returnParent]): 取代標籤</li>
	<li>.$del()：刪除標籤自身</li>
	<li>.$attr(key[,value])：標籤屬性操作</li>
	<li>.forEach：將 Array.forEach 的功能擴充至 DOM 多物件選取</li>
	<li>.reduce: 將 Array.reduce 的功能擴充至 DOM 多物件選取</li>
</ul>
<h2>$(select)：選擇器，簡化程式長度</h2>
傳回被選取的 DOM 物件
<h3>參數說明</h3>
<ul>
	<li>select：標籤 id</li>
</ul>
<div class="notice">可直接當 document.getElementById 使用</div>
<div class="notice">不傳入任何參數則返回 body 標籤</div>
<h3>調用範例</h3>
<code class="brush: js">
//傳回 id 為 tagid 的標籤
$('tagid');
//傳回body標籤
$();
</code>
<h2>$.tag(tagname[,attr]): 建立標籤物件</h2>
提供便利的標籤建立方法
<h3>參數說明</h3>
<ul>
	<li>tagname：欲新增的標籤</li>
	<li>attr：欲新增的標籤的屬性，若指定的屬性為函數，則值必須為陣列，並將值作為參數依序帶入該函數執行</li>
</ul>
<h3>調用範例</h3>
<code class="brush: js">
//傳回 DOM 標籤物件
//等同傳回 HTML &lt;div&gt;TEST&lt;span&gt;&lt;/span&gt;&lt;/div&gt;
$.tag('div',{
	'innerHTML': 'TEST',
	'$add': ['span']
});
</code>
<h2>.$add(tagname[,attr[,before]])：插入標籤</h2>
<h2>.$add(tagElement[,before[,returnParent]])：插入標籤</h2>
於指定標籤下插入一個新的標籤，並返回被插入的新標籤
<h3>參數說明</h3>
<ul>
	<li>tagname：欲新增的標籤，詳細參考 $.tag</li>
	<li>attr：欲新增的標籤的屬性，傳入 Object，詳細參考 $.tag</li>
	<li>tagElement: 欲新增的標籤物件</li>
	<li>before：將標籤建立於該標籤之前</li>
	<li>returnParent: 是否返回新增的物件的父層，否則返回新增的物件本身</li>
</ul>
<div class="notice">參數使用 before 而不使用 attr 時，attr 直接傳入空的 Object 即可</div>
<h3>調用範例</h3>
<code class="brush: js">
//在頁面最下面新增一個 div 標籤，標籤內容為 XDXD
$().$add('div',{'innerHTML':'XDXD'});
$().$add($.tag('div',{'innerHTML':'XDXD'}));
//將新標籤插入至 body 標籤下，id 為 tagid 的標籤之前
$().$add('div',{'innerHTML':'XDXD'},$('tagid'));
$().$add($.tag('div',{'innerHTML':'XDXD'}),$('tagid'));
</code>
<h2>.$replace(tagname[,attr[,returnParent]])：以其他標籤取代標籤自身</h2>
<h2>.$replace(tagElement[,returnParent])：以其他標籤取代標籤自身</h2>
於指定標籤下插入一個新的標籤，並返回被插入的新標籤
<h3>參數說明</h3>
<ul>
	<li>tagname：欲新增的標籤，詳細參考 $.tag</li>
	<li>attr：欲新增的標籤的屬性，傳入 Object，詳細參考 $.tag</li>
	<li>tagElement: 欲新增的標籤物件</li>
	<li>returnParent: 是否返回新增的物件的父層，否則返回新增的物件本身</li>
</ul>
<div class="notice">參數使用 before 而不使用 attr 時，attr 直接傳入空的 Object 即可</div>
<h3>調用範例</h3>
<code class="brush: js">
//將 id 為 main 的標籤以新 div 標籤取代，新標籤內容為 XDXD
$('main').$replace('div',{'innerHTML':'XDXD'});
$('main').$replace($.tag('div',{'innerHTML':'XDXD'}));
</code>
<h2>.$del()：刪除標籤自身</h2>
刪除標籤自身，包含其下子標籤
<h3>參數說明</h3>
此函數沒有任何參數
<h3>調用範例</h3>
<code class="brush: js">
//刪除body標籤
$().$del();
</code>
<h2>.$attr(key[,value])：標籤屬性操作</h2>
修改標籤屬性
<h3>參數說明</h3>
<ul>
	<li>key：屬性名稱，開頭加上"-"則表示刪除該屬性</li>
	<li>value：屬性值</li>
</ul>
<div class="notice">只傳入屬性名稱，且開頭非"-"，則傳回該屬性值</div>
<h3>調用範例</h3>
<code class="brush: js">
//取得 id 為 tagid 的標籤的 class 屬性值
$('tagid').attr('class');
//將 id 為 tagid 的標籤的屬性 class 改為 a，屬性 name 改為 b
$('tagid').attr('class','a').attr('name','b');
</code>
<h2>.forEach：將 Array.forEach 的功能擴充至 DOM 多物件選取</h2>
使用方法同 Array.forEach
<h2>.reduce：將 Array.reduce 的功能擴充至 DOM 多物件選取</h2>
使用方法同 Array.reduce
<h2>程式碼</h2>
<h3>壓縮版</h3>
<code class="brush: js">
function $(a){return arguments.length?document.getElementById(a):document.body}$.tag=function(a,b){var d=document.createElement(a);(function(a,b){for(var c in b)"function"===typeof a[c]?a[c].apply(a,b[c]):"object"===typeof b[c]?arguments.callee(a[c],b[c]):a[c]=b[c]})(d,b);return d};HTMLElement.prototype.$add=function(){var a=0,b="string"===typeof arguments[a]?$.tag(arguments[a++],arguments[a++]):arguments[a++];arguments[a]?this.insertBefore(b,arguments[a++]):this.appendChild(b);return arguments[++a]?this:b};HTMLElement.prototype.$del=function(a){this.parentNode.removeChild(this);return a?this.parentNode:this};HTMLElement.prototype.$replace=function(){var a=0,b="string"===typeof arguments[a]?$.tag(arguments[a++],arguments[a++]):arguments[a++];this.parentNode.replaceChild(b,this);return arguments[a]?this.parentNode:this};HTMLElement.prototype.$attr=function(a,b){if("-"!=a.charAt(0)){if(1==arguments.length)return this.getAttribute(a);this.setAttribute(a,b)}else this.removeAttribute(a.substring(1,a.length));return this};HTMLCollection.prototype.forEach||(HTMLCollection.prototype.forEach=Array.prototype.forEach);NamedNodeMap.prototype.forEach||(NamedNodeMap.prototype.forEach=Array.prototype.forEach);NodeList.prototype.forEach||(NodeList.prototype.forEach=Array.prototype.forEach);HTMLCollection.prototype.reduce||(HTMLCollection.prototype.reduce=Array.prototype.reduce);NamedNodeMap.prototype.reduce||(NamedNodeMap.prototype.reduce=Array.prototype.reduce);NodeList.prototype.reduce||(NodeList.prototype.reduce=Array.prototype.reduce);
</code>
<h3>原始版</h3>
<code class="brush: js">
function $(select){
	return arguments.length? document.getElementById(select):document.body;
}
$.tag=function(tagname, conf){
	var ele=document.createElement(tagname);
	(function(obj,conf){
		for(var k in conf){
			if('function'===typeof obj[k]) obj[k].apply(obj,conf[k]);
			else if('object'===typeof conf[k]) arguments.callee(obj[k],conf[k]);
			else obj[k]=conf[k];
		}
	})(ele,conf);
	return ele;
}

HTMLElement.prototype.$add=function(){
	var at=0;
	var ele=('string'===typeof arguments[at])? $.tag(arguments[at++],arguments[at++]):arguments[at++];
	if(arguments[at]) this.insertBefore(ele,arguments[at++]);
	else this.appendChild(ele);
	return (arguments[++at]? this:ele);
}
HTMLElement.prototype.$del=function (returnParent){
	this.parentNode.removeChild(this);
	return (returnParent? this.parentNode:this);
}
HTMLElement.prototype.$replace=function(){
	var at=0;
	var ele=('string'===typeof arguments[at])? $.tag(arguments[at++],arguments[at++]):arguments[at++];
	this.parentNode.replaceChild(ele,this);
	return (arguments[at]? this.parentNode:this);
}
HTMLElement.prototype.$attr=function(key, value){
	if(key.charAt(0)!='-'){
		if(arguments.length==1) return this.getAttribute(key);
		else this.setAttribute(key, value);
	}else this.removeAttribute(key.substring(1,key.length));
	return this;
}

if(!HTMLCollection.prototype.forEach) HTMLCollection.prototype.forEach=Array.prototype.forEach;
if(!NamedNodeMap.prototype.forEach) NamedNodeMap.prototype.forEach=Array.prototype.forEach;
if(!NodeList.prototype.forEach) NodeList.prototype.forEach=Array.prototype.forEach;
if(!HTMLCollection.prototype.reduce) HTMLCollection.prototype.reduce=Array.prototype.reduce;
if(!NamedNodeMap.prototype.reduce) NamedNodeMap.prototype.reduce=Array.prototype.reduce;
if(!NodeList.prototype.reduce) NodeList.prototype.reduce=Array.prototype.reduce;
</code>
