<h2>CanvasGUI 圖形介面繪製函式庫(HTML5)</h2>
<h3>功能說明</h3>
本函式庫最初以2D遊戲畫面繪製為目標做設計，以某款2D線上遊戲的畫面分析，以繪置該款線上遊戲為目標，提供以下功能：
<ul>
	<li>依設定自動調節畫面繪製頻率</li>
	<li>將Canvas標籤內所有圖像物件化，並提供相關屬性、事件</li>
	<li>圖形繪製以物件為單位，並提供功能擴充的方法</li>
</ul>
不過礙於版權問題，應該不會讓我轉成網頁吧。
<h2>程式碼</h2>
準備發佈，敬請期待！