<h2>Ajax 函式庫</h2>
<h3>功能說明</h3>
本函式庫以便於快速使用 Ajax 為目的，並盡可能與 HTML5 新功能結合。<br>
函式庫包含 Ajax 一個類別及兩個同步模式的函式，並提供以下方法：
<ul>
	<li>new Ajax(method, url[, data[, option]])：新增 Ajax 物件</li>
	<li>Ajax.setHeader(header,value)：設定標頭</li>
	<li>Ajax.on(eventName,func)：定義事件，addEventListener的便利版本</li>
	<li>Ajax.send()：傳送請求</li>
	<li>Ajax.abort()：中止請求</li>
	<li>Ajax.result(forceText)：取得返回結果</li>
	<li>Ajax.resultHeader(select)：取得返回結果的標頭訊息</li>
	<li>ajaxget(url,data)：以 GET 方法發送請求，為同步模式</li>
	<li>ajaxpost(url,data)：以 POST 方法發送請求，為同步模式</li>
</ul>
<div class="notice">本函式庫僅使用XMLHttpRequest，將無法支援 IE6 或更低版本</div>
<div class="notice">本函式庫非GET送出方式預設使用 FormData 物件，IE9 或更低版本必須調整參數才能執行</div>
<h2>new Ajax(method, url[, data[, option]])：新增 Ajax 物件</h2>
<h3>參數說明</h3>
<ul>
	<li>method：傳輸方法</li>
	<li>url：目標網址</li>
	<li>data：資料，傳入 object，項目值可傳入陣列，亦可傳入檔案</li>
	<li>option：其他選項
		<ul>
			<li>async：是否使用非同步模式，預設為是</li>
			<li>auth：用於驗證，傳入 object，需要屬性 user 及 pass</li>
			<li>formData：是否使用 FormData 物件，預設為是，欲使 IE9 或更低版本支援 GET 以外的方法請設為否，但將不支援檔案上傳</li>
		</ul>
	</li>
</ul>
<h2>Ajax.setHeader(header,value)：設定標頭</h2>
<h3>參數說明</h3>
<ul>
	<li>header：標頭鍵</li>
	<li>value：標頭值</li>
</ul>
<h2>Ajax.on(eventName,func)：定義事件，addEventListener的便利版本</h2>
同 addEventListener，但會回傳 Ajax 物件本身，便於串連
<h2>Ajax.send()：傳送請求</h2>
傳送請求，無參數，傳回 Ajax 物件本身
<h2>Ajax.abort()：中止請求</h2>
中止請求，同 XMLHttpRequest.abort()，無參數，傳回 Ajax 物件本身
<h2>Ajax.result(forceText)：取得返回結果</h2>
取得請求結果，請求未完成的情況下傳回 null
<h3>參數說明</h3>
<ul>
	<li>forceText：指定返回值為原始字串</li>
</ul>
<h2>Ajax.resultHeader(select)：取得返回結果的標頭訊息</h2>
取得請求結果的標頭，請求未完成的情況下傳回 null
<h3>參數說明</h3>
<ul>
	<li>select：空值下返回整理成 object 型態的標頭，否則等同 XMLHttpRequest.getResponseHeader()</li>
</ul>
<h2>ajaxget(url,data)：以 GET 方法發送請求，為同步模式</h2>
以同步模式發送 GET 方法請求，參數參考 new Ajax()
<h2>ajaxpost(url,data)：以 POST 方法發送請求，為同步模式</h2>
以同步模式發送 POST 方法請求，有啟用 formData，參數參考 new Ajax()
<h2>調用範例</h2>
<code class="brush: js">
//結果將傳送至 JavaScript 控制台
new Ajax('GET','/').on('load',function(){
	console.log(this.result());
}).send();
</code>
<h2>程式碼</h2>
<h3>壓縮版</h3>
<code class="brush: js">
function Ajax(a,c,d,b){this.xhr=new XMLHttpRequest;this.method=a.toUpperCase();this.url=c;this.data=d?d:null;b=b?b:{};this.option={async:b.hasOwnProperty("async")?b.async:!0,auth:b.hasOwnProperty("auth")?{user:b.auth.hasOwnProperty("user")?b.auth.user:null,pass:b.auth.hasOwnProperty("pass")?b.auth.pass:null}:{},formData:b.hasOwnProperty("formData")?b.formData:!0}}Ajax.prototype.setHeader=function(a,c){this.xhr.setRequestHeader(a,c);return this};Ajax.prototype.on=function(a,c){this.xhr.addEventListener(a,c.bind(this));return this};Ajax.prototype.send=function(){if("GET"!=this.method&amp;&amp;this.option.formData)for(k in a=new FormData,this.data)"object"==typeof this.data[k]?this.data[k].forEach(function(a,b){this.append(a+"[]",b)}.bind(a,k)):a.append(k,this.data[k]);else{var a="",c="";for(k in this.data)a="object"==typeof this.data[k]?a+(c+this.data[k].reduce(function(a,b){a.r+=a.s+a.k+"="+encodeURIComponent(b);a.s="&amp;"},{r:"",s:"",k:k+"[]"}).r):a+(c+k+"="+encodeURIComponent(this.data[k])),c="&amp;"}this.xhr.open(this.method,this.url+("GET"==this.method?(0&lt;=this.url.indexOf("?")?"&amp;":"?")+a:""),this.option.async,this.option.auth.user,this.option.auth.pass);this.xhr.send("GET"==this.method?null:a);return this};Ajax.prototype.abort=function(){this.xhr.abort();return this};Ajax.prototype.result=function(a){return 4!==this.xhr.readyState?null:a?this.xhr.responseText:this.xhr.response};Ajax.prototype.resultHeader=function(a){return 4!==this.xhr.readyState?null:a?this.xhr.getResponseHeader(a):this.xhr.getAllResponseHeaders().split("\n").reduce(function(a,d){if(!d.length)return a;var b=d.indexOf(":");a[d.substring(0,b)]=d.substring(b+2,d.length);return a},{})};function ajaxget(a,c){return(new Ajax("GET",a,c,{async:!1})).send().result()}function ajaxpost(a,c){return(new Ajax("POST",a,c,{async:!1})).send().result()};
</code>
<h3>原始版</h3>
<code class="brush: js">
function Ajax(method, url, data, option){
	this.xhr=new XMLHttpRequest();
	this.method=method.toUpperCase();
	this.url=url;
	this.data=data? data:null;
	var option=option? option:{};
	this.option={
		'async': option.hasOwnProperty('async')? option.async:true,
		'auth': option.hasOwnProperty('auth')? {
			'user': option.auth.hasOwnProperty('user')? option.auth.user:null,
			'pass': option.auth.hasOwnProperty('pass')? option.auth.pass:null
		}:{},
		'formData': option.hasOwnProperty('formData')? option.formData:true
	};
}
Ajax.prototype.setHeader=function(header,value){
	this.xhr.setRequestHeader(header,value);
	return this;
}
Ajax.prototype.on=function(eventName,func){
	this.xhr.addEventListener(eventName,func.bind(this));
	return this;
}
Ajax.prototype.send=function(){
	if(this.method=='GET' || !this.option.formData){
		var data='';
		var s='';
		for(k in this.data){
			if('object'==typeof this.data[k]){
				data+=s+this.data[k].reduce(function(r,v){
					r.r+=r.s+r.k+'='+encodeURIComponent(v);
					r.s='&amp;';
				},{'r':'','s':'','k':k+'[]'}).r;
			}else{
				data+=s+k+'='+encodeURIComponent(this.data[k]);
			}
			s='&amp;';
		}
	}else{
		var data=new FormData();
		for(k in this.data){
			if('object'==typeof this.data[k]){
				this.data[k].forEach(function(k,v){
					this.append(k+'[]',v);
				}.bind(data,k));
			}else{
				data.append(k,this.data[k]);
			}
		}
	}
	this.xhr.open(
		this.method,
		this.url+(this.method=='GET'? (this.url.indexOf('?')&gt;=0? '&amp;':'?')+data:''),
		this.option.async,
		this.option.auth.user,
		this.option.auth.pass
	);
	this.xhr.send(this.method=='GET'? null:data);
	return this;
}
Ajax.prototype.abort=function(){
	this.xhr.abort();
	return this;
}
Ajax.prototype.result=function(forceText){
	if(this.xhr.readyState!==4) return null;
	return forceText? this.xhr.responseText:this.xhr.response;
}
Ajax.prototype.resultHeader=function(select){
	if(this.xhr.readyState!==4) return null;
	if(select) return this.xhr.getResponseHeader(select);
	else return this.xhr.getAllResponseHeaders().split('\n').reduce(function(r,v){
		if(!v.length) return r;
		var s=v.indexOf(':');
		r[v.substring(0,s)]=v.substring(s+2,v.length);
		return r;
	},{});
}
function ajaxget(url,data){
	return new Ajax('GET',url,data,{'async': false}).send().result();
}
function ajaxpost(url,data){
	return new Ajax('POST',url,data,{'async': false}).send().result();
}
</code>
