<h2>Date 物件擴充</h2>
擴充了以下函數：
<ul>
	<li>getFormatTime(format[,str])：輸出格式化的時間</li>
</ul>
<h2>getFormatTime(format[,str])：輸出格式化的時間</h2>
<h3>參數說明</h3>
<ul>
	<li>format：返回格式，詳細參考格式表</li>
	<li>
		str：上午下午、星期的輸出文字
		<ul>
			<li>str.ampm：上午下午的輸出文字，預設值為['AM','PM']</li>
			<li>str.week：星期的輸出文字，預設值為['日','一','二','三','四','五','六']</li>
		</ul>
	</li>
</ul>
<h3>調用範例</h3>
<code class="brush: js">
//返回當前時間，格式為 年/月/日 時:分:秒
new Date().getFormatTime('Y/M/D G:I:S');
</code>
<h3>格式表</h3>
<table>
	<tr class="head">
		<td>表示方法</td><td>意義</td>
	</tr>
	<tr class="head"><td colspan="2">日期</td></tr>
	<tr><td>Y</td><td>西元年</td></tr>
	<tr><td>m</td><td>月(1-12)</td></tr>
	<tr><td>M</td><td>月(01-12)</td></tr>
	<tr><td>d</td><td>日(1-31)</td></tr>
	<tr><td>D</td><td>日(01-31)</td></tr>
	<tr><td>w</td><td>星期</td></tr>
	<tr class="head"><td colspan="2">時間</td></tr>
	<tr><td>a</td><td>上午下午</td></tr>
	<tr><td>h</td><td>時(0-12)</td></tr>
	<tr><td>H</td><td>時(00-12)</td></tr>
	<tr><td>g</td><td>時(0-23)</td></tr>
	<tr><td>G</td><td>時(00-23)</td></tr>
	<tr><td>i</td><td>分(0-59)</td></tr>
	<tr><td>I</td><td>分(00-59)</td></tr>
	<tr><td>s</td><td>秒(0-59)</td></tr>
	<tr><td>S</td><td>秒(00-59)</td></tr>
	<tr><td>u</td><td>毫秒(0-999)</td></tr>
	<tr><td>U</td><td>毫秒(000-999)</td></tr>
</table>
<h2>程式碼</h2>
<h3>壓縮版</h3>
<code class="brush: js">
//Date 物件擴充 by a0000778
Date.prototype.getFormatTime=function(f,c){c=c?{ampm:c.ampm?c.ampm:["AM","PM"],week:c.week?c.week:"\u65e5\u4e00\u4e8c\u4e09\u56db\u4e94\u516d".split("")}:{ampm:["AM","PM"],week:"\u65e5\u4e00\u4e8c\u4e09\u56db\u4e94\u516d".split("")};for(var e=0,a="",b="",d=function(a,b){for(a=a.toString();a.length&lt;b;)a="0"+a;return a};e&lt;f.length;){b=f.charAt(e);switch(b){case "Y":a+=this.getFullYear();break;case "m":a+=this.getMonth()+1;break;case "M":a+=d(this.getMonth()+1,2);break;case "d":a+=this.getDate();break;case "D":a+=
d(this.getDate(),2);break;case "a":a+=12>this.getHours()?c.ampm[0]:c.ampm[1];break;case "w":a+=c.week[this.getDay()];break;case "h":b=this.getHours();a+=12>b?b:b-12;break;case "H":b=this.getHours();a+=d(12>b?b:b-12,2);break;case "g":a+=this.getHours();break;case "G":a+=d(this.getHours(),2);break;case "i":a+=this.getMinutes();break;case "I":a+=d(this.getMinutes(),2);break;case "s":a+=this.getSeconds();break;case "S":a+=d(this.getSeconds(),2);break;case "u":a+=this.getMilliseconds();break;case "U":a+=
d(this.getMilliseconds(),3);break;default:a+=b}e++}return a};
</code>
<h3>原始版</h3>
<code class="brush: js">
//Date 物件擴充 by a0000778
Date.prototype.getFormatTime=function(format,str){
	"use strict"
	var str=str? {
		'ampm': str.ampm? str.ampm:['AM','PM'],
		'week': str.week? str.week:['日','一','二','三','四','五','六']
	}:{'ampm':['AM','PM'],'week':['日','一','二','三','四','五','六']};
	var at=0;
	var re='';
	var c='';
	var z=function(num,len){
		num=num.toString();
		while(num.length&lt;len)
			num='0'+num;
		return num;
	}
	while(at&lt;format.length){
		c=format.charAt(at);
		switch(c){
			case 'Y': re+=this.getFullYear(); break;
			case 'm': re+=this.getMonth()+1; break;
			case 'M': re+=z(this.getMonth()+1,2); break;
			case 'd': re+=this.getDate(); break;
			case 'D': re+=z(this.getDate(),2); break;
			case 'a': re+=(this.getHours()&lt;12)? str.ampm[0]:str.ampm[1]; break;
			case 'w': re+=str.week[this.getDay()]; break;
			case 'h':
				var h=this.getHours();
				re+=(h&lt;12)? h:h-12;
			break;
			case 'H':
				var h=this.getHours();
				re+=z(((h&lt;12)? h:h-12),2);
			break;
			case 'g': re+=this.getHours(); break;
			case 'G': re+=z(this.getHours(),2); break;
			case 'i': re+=this.getMinutes(); break;
			case 'I': re+=z(this.getMinutes(),2); break;
			case 's': re+=this.getSeconds(); break;
			case 'S': re+=z(this.getSeconds(),2); break;
			case 'u': re+=this.getMilliseconds(); break;
			case 'U': re+=z(this.getMilliseconds(),3); break;
			default: re+=c;
		}
		at++;
	}
	return re;
}
</code>
