<h2>當前時間&amp;計時器</h2>
<h3>展示</h3>
<run>
<script>
//Date 物件擴充 by a0000778
Date.prototype.getFormatTime=function(format,str){
    "use strict"
    var str=str? {
        'ampm': str.ampm? str.ampm:['AM','PM'],
        'week': str.week? str.week:['日','一','二','三','四','五','六']
    }:{'ampm':['AM','PM'],'week':['日','一','二','三','四','五','六']};
    var at=0;
    var re='';
    var c='';
    var z=function(num,len){
        num=num.toString();
        while(num.length<len)
            num='0'+num;
        return num;
    }
    while(at<format.length){
        c=format.charAt(at);
        switch(c){
            case 'Y': re+=this.getFullYear(); break;
            case 'm': re+=this.getMonth()+1; break;
            case 'M': re+=z(this.getMonth()+1,2); break;
            case 'd': re+=this.getDate(); break;
            case 'D': re+=z(this.getDate(),2); break;
            case 'a': re+=(this.getHours()<12)? str.ampm[0]:str.ampm[1]; break;
            case 'w': re+=str.week[this.getDay()]; break;
            case 'h':
                var h=this.getHours();
                re+=(h<12)? h:h-12;
            break;
            case 'H':
                var h=this.getHours();
                re+=z(((h<12)? h:h-12),2);
            break;
            case 'g': re+=this.getHours(); break;
            case 'G': re+=z(this.getHours(),2); break;
            case 'i': re+=this.getMinutes(); break;
            case 'I': re+=z(this.getMinutes(),2); break;
            case 's': re+=this.getSeconds(); break;
            case 'S': re+=z(this.getSeconds(),2); break;
            case 'u': re+=this.getMilliseconds(); break;
            case 'U': re+=z(this.getMilliseconds(),3); break;
            default: re+=c;
        }
        at++;
    }
    return re;
}
//當前時間&計時器 v0.3 by a0000778
window.addEventListener('load', function(){
    var update={
        'nowtime': function(domobj,timeEv,interval){
            var ampm=domobj.attributes.getNamedItem('ampm')? domobj.attributes.getNamedItem('ampm').value.split('|'):null;
            var week=domobj.attributes.getNamedItem('week')? domobj.attributes.getNamedItem('week').value.split('|'):null;
            var nowTime=new Date();
            domobj.innerHTML=nowTime.getFormatTime(
                domobj.attributes.getNamedItem('format').value,
                {'ampm': ampm,'week':week}
            );
            timeEv.list.forEach(function(evConf){
                if(!evConf.active && this.now>=evConf.time && evConf.time>this.lastTime){
                    eval(evConf.onTime);
                    evConf.active=true;
                }
            },{
                'DOM': domobj,
                'interval': interval,
                'now': Math.floor(nowTime.getTime()/1000),
                'lastTime': timeEv.lastTime
            });
            timeEv.lastTime=Math.floor(nowTime.getTime()/1000);
        },
        'uptimer': function(domobj,timeEv,interval){
            var upTime=Math.floor(new Date().getTime()/1000)-parseInt(domobj.attributes.getNamedItem('time').value);
            var nowTimeU=new Date().getMilliseconds();
            var format=domobj.attributes.getNamedItem('format').value;
            var output='';
            var at=0;
            var c='',l='';
            var z=function(num,len){
                num=num.toString();
                while(num.length<len)
                    num='0'+num;
                return num;
            }
            while(at<format.length){
                c=format.charAt(at);
                l=parseInt(format.charAt(at+1));
                if(l) at++;
                else l=0;
                switch(c){
                    case 'D': output+=z(Math.floor(upTime/86400),l); break;
                    case 'h': output+=z(Math.floor(upTime%86400/3600),l); break;
                    case 'H': output+=z(Math.floor(upTime/3600),l); break;
                    case 'm': output+=z(Math.floor(upTime%3600/60),l); break;
                    case 'M': output+=z(Math.floor(upTime/60),l); break;
                    case 's': output+=z(Math.floor(upTime%60),l); break;
                    case 'S': output+=z(upTime,l); break;
                    case 'u': output+=z(nowTimeU,l); break;
                    case 'U': output+=z(upTime.toString()+z(nowTimeU,3),l); break;
                    default: output+=c;
                }
                at++;
            }
            domobj.innerHTML=output;
            timeEv.list.forEach(function(evConf){
                if(!evConf.active && this.now>=evConf.time && evConf.time>this.lastTime){
                    eval(evConf.onTime);
                    evConf.active=true;
                }
            },{
                'DOM': domobj,
                'interval': interval,
                'now': upTime,
                'lastTime': timeEv.lastTime
            });
            timeEv.lastTime=upTime;
        },
        'downtimer': function(domobj,timeEv,interval){
            var downTime=parseInt(domobj.attributes.getNamedItem('time').value)-Math.floor(new Date().getTime()/1000);
            var downTimeU=1000-new Date().getMilliseconds();
            var format=domobj.attributes.getNamedItem('format').value;
            var output='';
            var at=0;
            var c='',l='';
            var z=function(num,len){
                num=num.toString();
                while(num.length<len)
                    num='0'+num;
                return num;
            }
            while(at<format.length){
                c=format.charAt(at);
                l=parseInt(format.charAt(at+1));
                if(l) at++;
                else l=0;
                switch(c){
                    case 'D': output+=z(Math.floor(downTime/86400),l); break;
                    case 'h': output+=z(Math.floor(downTime%86400/3600),l); break;
                    case 'H': output+=z(Math.floor(downTime/3600),l); break;
                    case 'm': output+=z(Math.floor(downTime%3600/60),l); break;
                    case 'M': output+=z(Math.floor(downTime/60),l); break;
                    case 's': output+=z(Math.floor(downTime%60),l); break;
                    case 'S': output+=z(downTime,l); break;
                    case 'u': output+=z(downTimeU,l); break;
                    case 'U': output+=z(downTime.toString()+z(downTimeU,3),l); break;
                    default: output+=c;
                }
                at++;
            }
            domobj.innerHTML=output;
            timeEv.list.forEach(function(evConf){
                if(!evConf.active && this.now<=evConf.time && evConf.time<this.lastTime){
                    eval(evConf.onTime);
                    evConf.active=true;
                }
            },{
                'DOM': domobj,
                'interval': interval,
                'now': downTime,
                'lastTime': timeEv.lastTime
            });
            timeEv.lastTime=downTime;
        }
    };
    var loadtime=Math.floor(new Date().getTime()/1000);
    var createclock=function(domobj,type){
        var timeEventDOM=domobj.getElementsByTagName('timeevent');
        var timeEvents={
            'lastTime': 0,
            'list': []
        };
        var at=0;
        while(at<timeEventDOM.length){
            if(domobj.getAttribute('type')=='nowtime' && loadtime>timeEventDOM[at].getAttribute('time')){ at++;continue; }
            timeEvents.list.push({
                'time': timeEventDOM[at].getAttribute('time'),
                'onTime': timeEventDOM[at].getAttribute('ontime'),
                'active': false
            });
            at++;
        }
        var interval
        interval=setInterval(function(){
            update[domobj.getAttribute('type')](domobj,timeEvents,interval);
        },domobj.getAttribute('update')? parseInt(domobj.getAttribute('update')):500);
    }
    var clockid=0;
    var clocks=document.getElementsByTagName('clock');
    var clocktype;
    while(clockid<clocks.length){
        if(clockid=='length'){ clockid++;continue; }
        clocktype=clocks[clockid].getAttribute('type');
        if(clocktype && update[clocktype]){
            if((clocktype=='downtimer' || clocktype=='uptimer') && !clocks[clockid].getAttribute('time'))
                clocks[clockid].setAttribute('time',loadtime);
            createclock(clocks[clockid]);
        }else{
            clocks[clockid].innerHTML='類型不存在';
        }
        clockid++;
    }
});
</script>
現在時間：<clock type="nowtime" format="Y/M/D (w) a H:I:S" ampm="上午|下午" update="50">你的JavaScript呢？</clock><br>
本頁公開了：<clock type="uptimer" format="D3日h2時m2分s2秒u3" time="1384358400" update="50">你的JavaScript呢？</clock><br>
距離小叮噹出生還有：<clock type="downtimer" format="D3日h2時m2分s2秒u3" time="4533811200" update="50">你的JavaScript呢？</clock><br>
</run>
<h3>使用方法</h3>
<code class="brush: xml">
&lt;!--當前時間-->
&lt;clock type="nowtime" format="Y/M/D (w) a H:I:S" ampm="上午|下午" update="500">
	&lt;timeevent time="1384595400" onTime="console.log(this);">&lt;/timeevent>
	沒開啟JavaScript顯示的內容
&lt;/clock>
&lt;!--累積計時-->
&lt;clock type="uptimer" format="D3日h2時m2分s2秒u3" update="500">
	&lt;timeevent time="10" onTime="console.log(this);">&lt;/timeevent>
	沒開啟JavaScript顯示的內容
&lt;/clock>
&lt;!--倒數計時-->
&lt;clock type="downtimer" format="D3日h2時m2分s2秒u3" update="500">
	&lt;timeevent time="87654321" onTime="console.log(this);">&lt;/timeevent>
	沒開啟JavaScript顯示的內容
&lt;/clock>
</code>
<h3>屬性說明</h3>
<table>
	<tr class="head">
		<td>所屬標籤</td><td>屬性名稱</td><td>意義</td>
	</tr>
	<tr>
		<td rowspan="6">clock</td>
		<td>type</td>
		<td>時鐘類型，可為 nowtime、uptimer、downtimer，分別代表當前時間、累積計時器、倒數計時器</td>
	</tr>
	<tr>
		<td>format</td>
		<td>
			輸出的時間格式。<br>
			當前時間格式參考全域函數庫日期時間類的 getFormatTime 函數所附的格式表。<br>
			累積計時器、倒數計時器參考本文所附的格式表。
		</td>
	</tr>
	<tr><td>update</td><td>更新頻率，以毫秒(ms)為單位，預設500</td></tr>
	<tr><td>ampm</td><td>僅當type="nowtime"時有效，參考全域函數庫的 getFormatTime 函數參數str.ampm，以"|"分隔</td></tr>
	<tr><td>week</td><td>僅當type="nowtime"時有效，參考全域函數庫的 getFormatTime 函數參數str.week，以"|"分隔</td></tr>
	<tr><td>time</td><td>僅當type為uptimer或downtimer時有效，格式為Unix Time，依序分別代表開始計時時間及時間到達時間</td></tr>
	<tr>
		<td rowspan="2">timeevent</td>
		<td>time</td>
		<td>
			觸發時間點，視上層clock標籤的type值決定輸入的類型<br>
			type="nowtime"，值帶入Unix Time<br>
			type="uptimer"，值帶入累積時間總秒數<br>
			type="downtimer"，值帶入剩餘時間總秒數
		</td>
	</tr>
	<tr>
		<td>ontime</td>
		<td>觸發時要執行的JS代碼</td>
	</tr>
</table>
<h3>累積計時器、倒數計時器格式表</h3>
<table>
	<tr class="head">
		<td>表示方法</td><td>意義</td>
	</tr>
	<tr><td>D</td><td>天數</td></tr>
	<tr><td>h</td><td>小時數，每24小時自動進位至天數</td></tr>
	<tr><td>H</td><td>小時數，不進位</td></tr>
	<tr><td>m</td><td>分鐘數，每60分鐘自動進位至小時數</td></tr>
	<tr><td>M</td><td>分鐘數，不進位</td></tr>
	<tr><td>s</td><td>秒數，每60分鐘自動進位至小時數</td></tr>
	<tr><td>S</td><td>秒數，不進位</td></tr>
	<tr><td>u</td><td>毫秒數，每60分鐘自動進位至小時數</td></tr>
	<tr><td>U</td><td>毫秒數，不進位</td></tr>
</table>
<div class="notice">於表示方法後方加上數值，可以強制該欄位長度，長度不足時將自動補0</div>
<div class="notice">所有表示方法都不會輸出小數，只會輸出整數</div>
<h2>程式碼</h2>
<h3>使用需求</h3>
全域函數庫日期時間類
<h3>壓縮版</h3>
<code class="brush: js">
//當前時間&amp;計時器 v0.3 by a0000778
window.addEventListener("load",function(){function r(c){for(var g=c.getElementsByTagName("timeevent"),f={lastTime:0,list:[]},b=0;b&lt;g.length;)"nowtime"==c.getAttribute("type")&&p>g[b].getAttribute("time")||f.list.push({time:g[b].getAttribute("time"),onTime:g[b].getAttribute("ontime"),active:!1}),b++;var d;d=setInterval(function(){q[c.getAttribute("type")](c,f,d)},c.getAttribute("update")?parseInt(c.getAttribute("update")):500)}for(var q={nowtime:function(c,g,f){var b=new Date;c.innerHTML=b.d(c.attributes.getNamedItem("format").value,
{ampm:c.attributes.getNamedItem("ampm")?c.attributes.getNamedItem("ampm").value.split("|"):null,week:c.attributes.getNamedItem("week")?c.attributes.getNamedItem("week").value.split("|"):null});g.list.forEach(function(b){!b.b&&this.now>=b.time&&b.time>this.a&&(eval(b.c),b.b=!0)},{DOM:c,interval:f,now:Math.floor(b.getTime()/1E3),lastTime:g.a});g.a=Math.floor(b.getTime()/1E3)},uptimer:function(c,g,f){function b(a,b){for(a=a.toString();a.length&lt;b;)a="0"+a;return a}for(var d=Math.floor((new Date).getTime()/
1E3)-parseInt(c.attributes.getNamedItem("time").value),h=(new Date).getMilliseconds(),l=c.attributes.getNamedItem("format").value,a="",k=0,m="",e="";k&lt;l.length;){m=l.charAt(k);(e=parseInt(l.charAt(k+1)))?k++:e=0;switch(m){case "D":a+=b(Math.floor(d/86400),e);break;case "h":a+=b(Math.floor(d%86400/3600),e);break;case "H":a+=b(Math.floor(d/3600),e);break;case "m":a+=b(Math.floor(d%3600/60),e);break;case "M":a+=b(Math.floor(d/60),e);break;case "s":a+=b(Math.floor(d%60),e);break;case "S":a+=b(d,e);break;
case "u":a+=b(h,e);break;case "U":a+=b(d.toString()+b(h,3),e);break;default:a+=m}k++}c.innerHTML=a;g.list.forEach(function(a){!a.b&&this.now>=a.time&&a.time>this.a&&(eval(a.c),a.b=!0)},{DOM:c,interval:f,now:d,lastTime:g.a});g.a=d},downtimer:function(c,g,f){function b(a,b){for(a=a.toString();a.length&lt;b;)a="0"+a;return a}for(var d=parseInt(c.attributes.getNamedItem("time").value)-Math.floor((new Date).getTime()/1E3),h=1E3-(new Date).getMilliseconds(),l=c.attributes.getNamedItem("format").value,a="",
k=0,m="",e="";k&lt;l.length;){m=l.charAt(k);(e=parseInt(l.charAt(k+1)))?k++:e=0;switch(m){case "D":a+=b(Math.floor(d/86400),e);break;case "h":a+=b(Math.floor(d%86400/3600),e);break;case "H":a+=b(Math.floor(d/3600),e);break;case "m":a+=b(Math.floor(d%3600/60),e);break;case "M":a+=b(Math.floor(d/60),e);break;case "s":a+=b(Math.floor(d%60),e);break;case "S":a+=b(d,e);break;case "u":a+=b(h,e);break;case "U":a+=b(d.toString()+b(h,3),e);break;default:a+=m}k++}c.innerHTML=a;g.list.forEach(function(a){!a.b&&
this.now&lt;=a.time&&a.time&lt;this.a&&(eval(a.c),a.b=!0)},{DOM:c,interval:f,now:d,lastTime:g.a});g.a=d}},p=Math.floor((new Date).getTime()/1E3),f=0,h=document.getElementsByTagName("clock"),n;f&lt;h.length;)"length"!=f&&((n=h[f].getAttribute("type"))&&q[n]?("downtimer"!=n&&"uptimer"!=n||h[f].getAttribute("time")||h[f].setAttribute("time",p),r(h[f])):h[f].innerHTML="\u985e\u578b\u4e0d\u5b58\u5728"),f++});
</code>
<h3>原始版</h3>
<code class="brush: js">
//當前時間&amp;計時器 v0.3 by a0000778
window.addEventListener('load', function(){
	var update={
		'nowtime': function(domobj,timeEv,interval){
			var ampm=domobj.attributes.getNamedItem('ampm')? domobj.attributes.getNamedItem('ampm').value.split('|'):null;
			var week=domobj.attributes.getNamedItem('week')? domobj.attributes.getNamedItem('week').value.split('|'):null;
			var nowTime=new Date();
			domobj.innerHTML=nowTime.getFormatTime(
				domobj.attributes.getNamedItem('format').value,
				{'ampm': ampm,'week':week}
			);
			timeEv.list.forEach(function(evConf){
				if(!evConf.active && this.now>=evConf.time && evConf.time>this.lastTime){
					eval(evConf.onTime);
					evConf.active=true;
				}
			},{
				'DOM': domobj,
				'interval': interval,
				'now': Math.floor(nowTime.getTime()/1000),
				'lastTime': timeEv.lastTime
			});
			timeEv.lastTime=Math.floor(nowTime.getTime()/1000);
		},
		'uptimer': function(domobj,timeEv,interval){
			var upTime=Math.floor(new Date().getTime()/1000)-parseInt(domobj.attributes.getNamedItem('time').value);
			var nowTimeU=new Date().getMilliseconds();
			var format=domobj.attributes.getNamedItem('format').value;
			var output='';
			var at=0;
			var c='',l='';
			var z=function(num,len){
				num=num.toString();
				while(num.length&lt;len)
					num='0'+num;
				return num;
			}
			while(at&lt;format.length){
				c=format.charAt(at);
				l=parseInt(format.charAt(at+1));
				if(l) at++;
				else l=0;
				switch(c){
					case 'D': output+=z(Math.floor(upTime/86400),l); break;
					case 'h': output+=z(Math.floor(upTime%86400/3600),l); break;
					case 'H': output+=z(Math.floor(upTime/3600),l); break;
					case 'm': output+=z(Math.floor(upTime%3600/60),l); break;
					case 'M': output+=z(Math.floor(upTime/60),l); break;
					case 's': output+=z(Math.floor(upTime%60),l); break;
					case 'S': output+=z(upTime,l); break;
					case 'u': output+=z(nowTimeU,l); break;
					case 'U': output+=z(upTime.toString()+z(nowTimeU,3),l); break;
					default: output+=c;
				}
				at++;
			}
			domobj.innerHTML=output;
			timeEv.list.forEach(function(evConf){
				if(!evConf.active && this.now>=evConf.time && evConf.time>this.lastTime){
					eval(evConf.onTime);
					evConf.active=true;
				}
			},{
				'DOM': domobj,
				'interval': interval,
				'now': upTime,
				'lastTime': timeEv.lastTime
			});
			timeEv.lastTime=upTime;
		},
		'downtimer': function(domobj,timeEv,interval){
			var downTime=parseInt(domobj.attributes.getNamedItem('time').value)-Math.floor(new Date().getTime()/1000);
			var downTimeU=1000-new Date().getMilliseconds();
			var format=domobj.attributes.getNamedItem('format').value;
			var output='';
			var at=0;
			var c='',l='';
			var z=function(num,len){
				num=num.toString();
				while(num.length&lt;len)
					num='0'+num;
				return num;
			}
			while(at&lt;format.length){
				c=format.charAt(at);
				l=parseInt(format.charAt(at+1));
				if(l) at++;
				else l=0;
				switch(c){
					case 'D': output+=z(Math.floor(downTime/86400),l); break;
					case 'h': output+=z(Math.floor(downTime%86400/3600),l); break;
					case 'H': output+=z(Math.floor(downTime/3600),l); break;
					case 'm': output+=z(Math.floor(downTime%3600/60),l); break;
					case 'M': output+=z(Math.floor(downTime/60),l); break;
					case 's': output+=z(Math.floor(downTime%60),l); break;
					case 'S': output+=z(downTime,l); break;
					case 'u': output+=z(downTimeU,l); break;
					case 'U': output+=z(downTime.toString()+z(downTimeU,3),l); break;
					default: output+=c;
				}
				at++;
			}
			domobj.innerHTML=output;
			timeEv.list.forEach(function(evConf){
				if(!evConf.active && this.now&lt;=evConf.time && evConf.time&lt;this.lastTime){
					eval(evConf.onTime);
					evConf.active=true;
				}
			},{
				'DOM': domobj,
				'interval': interval,
				'now': downTime,
				'lastTime': timeEv.lastTime
			});
			timeEv.lastTime=downTime;
		}
	};
	var loadtime=Math.floor(new Date().getTime()/1000);
	var createclock=function(domobj,type){
		var timeEventDOM=domobj.getElementsByTagName('timeevent');
		var timeEvents={
			'lastTime': 0,
			'list': []
		};
		var at=0;
		while(at&lt;timeEventDOM.length){
			if(domobj.getAttribute('type')=='nowtime' && loadtime>timeEventDOM[at].getAttribute('time')){ at++;continue; }
			timeEvents.list.push({
				'time': timeEventDOM[at].getAttribute('time'),
				'onTime': timeEventDOM[at].getAttribute('ontime'),
				'active': false
			});
			at++;
		}
		var interval
		interval=setInterval(function(){
			update[domobj.getAttribute('type')](domobj,timeEvents,interval);
		},domobj.getAttribute('update')? parseInt(domobj.getAttribute('update')):500);
	}
	var clockid=0;
	var clocks=document.getElementsByTagName('clock');
	var clocktype;
	while(clockid&lt;clocks.length){
		if(clockid=='length'){ clockid++;continue; }
		clocktype=clocks[clockid].getAttribute('type');
		if(clocktype && update[clocktype]){
			if((clocktype=='downtimer' || clocktype=='uptimer') && !clocks[clockid].getAttribute('time'))
				clocks[clockid].setAttribute('time',loadtime);
			createclock(clocks[clockid]);
		}else{
			clocks[clockid].innerHTML='類型不存在';
		}
		clockid++;
	}
});
</code>
