<h2>全頁覆蓋半透明</h2>
<h3>使用方法</h3>
<code class="brush: js">
ScrDiv.hide();//切換，將目前狀態反向
ScrDiv.hide(true);//啟動
ScrDiv.hide(false);//關閉
</code>
<h3>設定</h3>
<table>
	<tr class="head">
		<td>設定項</td><td>預設值</td><td>說明</td>
	</tr>
	<tr><td>ScrDiv.config.opacity</td><td>0.5</td><td>透明度，為浮點數，範圍為 0~1</td></tr>
	<tr><td>ScrDiv.config.color</td><td>#000000</td><td>覆蓋顏色</td></tr>
	<tr><td>ScrDiv.config.zindex</td><td>65535</td><td>覆蓋層高度，為整數，範圍為 0~2147483647，必須高於覆蓋目標</td></tr>
	<tr><td>ScrDiv.config.lockscroll</td><td>true</td><td>覆蓋時是否關閉捲軸，型態為布林</td></tr>
	<tr><td>ScrDiv.config.clickclose</td><td>false</td><td>擊點覆蓋層時是否關閉層，關閉則帶入 function 提供關閉時執行，不關閉則帶入 false</td></tr>
</table>
<h2>程式碼</h2>
<h3>使用需求</h3>
全域函數庫 DOM 操作類
<h3>壓縮版</h3>
<code class="brush: js">
//全頁覆蓋半透明 v0.1 by a0000778
ScrDiv={config:{opacity:0.5,color:"#000000",zindex:65535,lockscroll:!0,clickclose:!1},hideobj:null,hide:function(a){ScrDiv.hideobj||this.load();arguments.length?a?(this.hideobj.style.display="inline",this.config.lockscroll&&($().style.overflow="hidden")):(this.hideobj.style.display="none",this.config.lockscroll&&($().style.overflow="")):"none"==this.hideobj.style.display?(this.hideobj.style.display="inline",this.config.lockscroll&&($().style.overflow="hidden")):(this.hideobj.style.display="none",
this.config.lockscroll&&($().style.overflow=""))},load:function(){ScrDiv.hideobj||(this.hideobj=$().$add("div",{style:{position:"fixed",top:"0px",left:"0px",right:"0px",bottom:"0px",opacity:ScrDiv.config.opacity,background:ScrDiv.config.color,"z-index":ScrDiv.config.zindex,display:"none"}}),this.hideobj.addEventListener("click",function(){"function"==typeof ScrDiv.config.clickclose&&(ScrDiv.config.clickclose(),ScrDiv.hide(!1))}))}};
</code>
<h3>原始版</h3>
<code class="brush: js">
//全頁覆蓋半透明 v0.1 by a0000778
ScrDiv={
	'config': {
		'opacity': 0.5,
		'color': '#000000',
		'zindex': 65535,
		'lockscroll': true,
		'clickclose': false
	},
	'hideobj': null,
	'hide': function(sw){
		if(!ScrDiv.hideobj) this.load();
		if(arguments.length){
			if(sw){
				this.hideobj.style.display='inline';
				if(this.config.lockscroll) $().style.overflow='hidden';
			}else{
				this.hideobj.style.display='none';
				if(this.config.lockscroll) $().style.overflow='';
			}
		}else{
			if(this.hideobj.style.display=='none'){
				this.hideobj.style.display='inline';
				if(this.config.lockscroll) $().style.overflow='hidden';
			}else{
				this.hideobj.style.display='none';
				if(this.config.lockscroll) $().style.overflow='';
			}
		}
	},
	'load': function(){
		if(ScrDiv.hideobj) return;
		this.hideobj=$().$add('div', {
			'style': {
				'position': 'fixed',
				'top': '0px',
				'left': '0px',
				'right': '0px',
				'bottom': '0px',
				'opacity': ScrDiv.config.opacity,
				'background': ScrDiv.config.color,
				'z-index': ScrDiv.config.zindex,
				'display': 'none'
			}
		});
		this.hideobj.addEventListener('click', function(){
			if(typeof ScrDiv.config.clickclose=='function'){
				ScrDiv.config.clickclose();
				ScrDiv.hide(false);
			}
		});
	}
}
</code>