<h2>虛擬視窗</h2>
<h3>功能說明</h3>
<ul>
	<li>可拖動視窗物件</li>
	<li>可改變視窗大小</li>
	<li>可刪除、隱藏視窗</li>
	<li>自定義視窗HTML及CSS</li>
	<li>已確認支援Chrome/FireFox/Opera/Safari</li>
</ul>
<h3>展示</h3>
<run>
<script>
function $(select){
	return arguments.length? document.getElementById(select):document.body;
}
$.tag=function(tagname, conf){
	var ele=document.createElement(tagname);
	(function(obj,conf){
		for(var k in conf){
			if('function'===typeof obj[k]) obj[k].apply(obj,conf[k]);
			else if('object'===typeof conf[k]) arguments.callee(obj[k],conf[k]);
			else obj[k]=conf[k];
		}
	})(ele,conf);
	return ele;
}
HTMLElement.prototype.$add=function(){
	var at=0;
	var ele=('string'===typeof arguments[at])? $.tag(arguments[at++],arguments[at++]):arguments[at++];
	if(arguments[at]) this.insertBefore(ele,arguments[at++]);
	else this.appendChild(ele);
	return (arguments[++at]? this:ele);
}
if(!NodeList.prototype.forEach) NodeList.prototype.forEach=Array.prototype.forEach;
/*
VirtualWindow 虛擬視窗 v1.4 by a0000778
MIT License
*/
function VirtualWindow(obj,left,top,width,height,option){
	this.obj=typeof obj==='string'? $(obj):obj;
	if(!this.obj) return;
	this.width=parseInt(width? width:this.obj.clientWidth,10);
	this.height=parseInt(height? height:this.obj.clientHeight,10);
	var option=option? option:{};
	this.option={
		'dragBarSelect': option.hasOwnProperty('dragBarSelect')? option.bar:'.vw_bar',
		'hideObjSelect': option.hasOwnProperty('hideButtonSelect')? option.hideButtonSelect:null,
		'closeObjSelect': option.hasOwnProperty('closeObjSelect')? option.closeObjSelect:null
	};
	this.posX=parseInt(left);
	this.posY=parseInt(top);
	this.barDownX=null;
	this.barDownY=null;
	this.resizeWidth={'mode':false,'pos':null};
	this.resizeHeight={'mode':false,'pos':null};
	this.dragMove=this.dragMove.bind(this);
	this.resizeUpdate=this.resizeUpdate.bind(this);
	this.disableSelect=this.disableSelect.bind(this);
	this.event={
		'resize': [],
		'move': [],
		'open': [],
		'close': [],
		'resizeStart': [],
		'resizeEnd': [],
		'dragStart': [],
		'dragEnd': []
	};

	this.obj.style.position='absolute';
	this.obj.style.zIndex=VirtualWindow.topZIndex++;
	this.moveTo(this.posX,this.posY);
	this.resize(this.width,this.height);

	this.obj.addEventListener('mousedown',this.resizeStart.bind(this));

	var bar=this.obj.querySelector(this.option.dragBarSelect);
	bar.addEventListener('mousedown',this.dragStart.bind(this));
	this.option.hideObjSelect && this.obj.querySelectorAll(this.option.hideObjSelect).forEach(function(o){
		o.addEventListener('click',this.close.bind(this,false));
	},this);
	this.option.closeObjSelect && this.obj.querySelectorAll(this.option.closeObjSelect).forEach(function(o){
		o.addEventListener('click',this.close.bind(this,true));
	},this);
}
VirtualWindow.topZIndex=0;
VirtualWindow.consoleLayer=null;
VirtualWindow.prototype.toTop=function(){
	this.obj.style.zIndex=VirtualWindow.topZIndex++;
	return this;
}
VirtualWindow.prototype.open=function(){
	this.obj.style.display='block';
	this.trigger('open');
	return this;
}
VirtualWindow.prototype.close=function(del){
	if(del) this.obj.$del();
	else this.obj.style.display='none';
	this.trigger('close');
	return this;
}
VirtualWindow.prototype.on=function(eventName,func){
	if(!this.event[eventName]) return false;
	this.event[eventName].push(func);
	return this;
}
VirtualWindow.prototype.trigger=function(eventName,args){
	if(!this.event[eventName]) return false;
	this.event[eventName].forEach(function(func){
		func.apply(this,args);
	},this);
	return this;
}
VirtualWindow.prototype.moveTo=function(x,y){
	this.posX=parseInt(x);
	this.posY=parseInt(y);
	this.obj.style.left=x+'px';
	this.obj.style.top=y+'px';
	this.trigger('move');
	return this;
}
VirtualWindow.prototype.resize=function(width,height){
	this.width=parseInt(width);
	this.height=parseInt(height);
	this.obj.style.width=width+'px';
	this.obj.style.height=height+'px';
	this.trigger('resize');
	return this;
}
VirtualWindow.prototype.disableSelect=function(e){
	e.preventDefault();
}
VirtualWindow.prototype.dragStart=function(e){
	e.stopPropagation();
	this.toTop();
	this.barDownX=e.clientX-this.posX;
	this.barDownY=e.clientY-this.posY;
	VirtualWindow.consoleLayer.style.display='block';
	document.addEventListener('selectstart',this.disableSelect);
	window.addEventListener('mousemove',this.dragMove);
	window.addEventListener('mouseup',this.dragEnd.bind(this));
	this.trigger('dragStart');
}
VirtualWindow.prototype.dragMove=function(e){
	e.stopPropagation();
	this.moveTo(e.clientX-this.barDownX,e.clientY-this.barDownY);
}
VirtualWindow.prototype.dragEnd=function(e){
	e.stopPropagation();
	this.barDownX=null;
	this.barDownY=null;
	window.removeEventListener('mousemove',this.dragMove);
	document.removeEventListener('selectstart',this.disableSelect);
	VirtualWindow.consoleLayer.style.display='none';
	this.trigger('dragEnd');
}
VirtualWindow.prototype.resizeStart=function(e){
	e.stopPropagation();
	if(e.layerX<5){
		this.resizeWidth.mode='left';
		this.resizeWidth.pos=e.layerX;
	}else if(e.layerX+5>this.width){
		this.resizeWidth.mode='right';
		this.resizeWidth.pos=e.layerX-this.width;
	}
	if(e.layerY<5){
		this.resizeHeight.mode='top';
		this.resizeHeight.pos=e.layerY;
	}else if(e.layerY+5>this.height){
		this.resizeHeight.mode='bottom';
		this.resizeHeight.pos=e.layerY-this.height;
	}
	if(this.resizeWidth.mode || this.resizeHeight.mode){
		this.toTop();
		VirtualWindow.consoleLayer.style.display='block';
		document.addEventListener('selectstart',this.disableSelect);
		window.addEventListener('mousemove',this.resizeUpdate);
		window.addEventListener('mouseup',this.resizeEnd.bind(this));
		this.trigger('resizeStart');
	}
}
VirtualWindow.prototype.resizeUpdate=function(e){
	e.stopPropagation();
	var newLeft=this.posX;
	var newTop=this.posY;
	var newWidth=this.width;
	var newHeight=this.height;
	switch(this.resizeWidth.mode){
		case 'left':
			newLeft=e.clientX-this.resizeWidth.pos;
			newWidth+=this.posX+this.resizeWidth.pos-e.clientX;
		break;
		case 'right': newWidth=e.clientX-this.posX-this.resizeWidth.pos;
	}
	switch(this.resizeHeight.mode){
		case 'top':
			newTop=e.clientY-this.resizeHeight.pos;
			newHeight+=this.posY+this.resizeHeight.pos-e.clientY;
		break;
		case 'bottom': newHeight=e.clientY-this.posY-this.resizeHeight.pos;
	}
	this.moveTo(newLeft,newTop).resize(newWidth,newHeight);
}
VirtualWindow.prototype.resizeEnd=function(e){
	if(!(this.resizeWidth.mode || this.resizeHeight.mode)) return;
	e.stopPropagation();
	this.resizeWidth.mode=false;
	this.resizeHeight.mode=false;
	window.removeEventListener('mousemove',this.resizeUpdate);
	document.removeEventListener('selectstart',this.disableSelect);
	VirtualWindow.consoleLayer.style.display='none';
	this.trigger('resizeEnd');
}
window.addEventListener('load',function(){
	VirtualWindow.consoleLayer=$().$add('div',{'style':{
		'position': 'fixed',
		'top': 0,
		'left': 0,
		'right': 0,
		'bottom': 0,
		'zIndex': 2147483647,
		'display': 'none'
	}})
});
window.addEventListener('load',function(){
	var w1=new VirtualWindow('window1',0,0,200,200);
	var w2=new VirtualWindow('window2',200,200,200,200);
});
</script>
<style>
.window{
	border: 1px solid #000;
}
.vw_bar{
	background-color: #DDD;
}
</style>
<div id="window1" class="window">
	<div class="vw_bar">title1</div>
	test1
</div>
<div id="window2" class="window">
	<div class="vw_bar">title2</div>
	test2
</div>
</run>
<h2>使用說明</h2>
<h3>new VirtualWindow(obj,left,top,width,height,option)</h3>
<ul>
	<li>obj: 傳入視窗物件ID或視窗DOM物件</li>
	<li>left: 視窗初始X座標</li>
	<li>top: 視窗初始Y座標</li>
	<li>width: 視窗初始寬度(留空則採用視窗化前寬度)</li>
	<li>height: 視窗初始高度(留空則採用視窗化前高度)</li>
	<li>
		option: 細節選項
		<ul>
			<li>option.dragBarSelect: 可拖動視窗的區塊選取方式(以CSS選擇器方式選取)，預設'.vw_bar'</li>
			<li>option.hideObjSelect: 擊點後可隱藏視窗的物件(以CSS選擇器方式選取)</li>
			<li>option.closeObjSelect: 擊點後可關閉視窗的物件(以CSS選擇器方式選取)</li>
		</ul>
	</li>
</ul>
<h3>VirtualWindow.toTop()</h3>
將視窗提升到最上方
<h3>VirtualWindow.open()</h3>
將隱藏的視窗打開
<h3>VirtualWindow.close(del)</h3>
關閉視窗
<ul><li>del: 傳入 true 為刪除視窗，留空或 false 為隱藏視窗</li></ul>
<h3>VirtualWindow.on(eventName,func)</h3>
定義事件
<ul>
	<li>
		eventName: 事件名稱，以下事件列表
		<ul>
			<li>resize: 視窗大小改變</li>
			<li>move: 視窗位置改變</li>
			<li>open: 打開視窗</li>
			<li>close: 刪除或隱藏視窗</li>
			<li>resizeStart: 視窗大小開始改變(使用者拖動)</li>
			<li>resizeEnd: 視窗大小結束改變(使用者拖動)</li>
			<li>dragStart: 視窗位置開始改變(使用者拖動)</li>
			<li>dragEnd: 視窗位置結束改變(使用者拖動)</li>
		</ul>
	</li>
	<li>func: 觸發時執行程式，傳入function</li>
</ul>
<h3>VirtualWindow.trigger(eventName,args)</h3>
觸發特定事件
<ul>
	<li>eventName: 事件名稱</li>
	<li>args: 帶入參數，傳入 Array</li>
</ul>
<h3>VirtualWindow.moveTo(x,y)</h3>
移動視窗
<ul>
	<li>x: 目標X座標</li>
	<li>y: 目標Y座標</li>
</ul>
<h3>VirtualWindow.resize(width,height)</h3>
改變視窗大小
<ul>
	<li>width: 新寬度</li>
	<li>height: 新高度</li>
</ul>
<h2>程式碼</h2>
<h3>使用需求</h3>
全域函數庫 DOM 操作類
<h3>壓縮版</h3>
<code class="brush: js">
/*
VirtualWindow 虛擬視窗 v1.4 by a0000778
MIT License
*/
function VirtualWindow(a,b,f,c,e,d){if(this.obj="string"===typeof a?$(a):a)this.width=parseInt(c?c:this.obj.clientWidth,10),this.height=parseInt(e?e:this.obj.clientHeight,10),d=d?d:{},this.option={dragBarSelect:d.hasOwnProperty("dragBarSelect")?d.bar:".vw_bar",hideObjSelect:d.hasOwnProperty("hideButtonSelect")?d.hideButtonSelect:null,closeObjSelect:d.hasOwnProperty("closeObjSelect")?d.closeObjSelect:null},this.posX=parseInt(b),this.posY=parseInt(f),this.barDownY=this.barDownX=null,this.resizeWidth={mode:!1,pos:null},this.resizeHeight={mode:!1,pos:null},this.dragMove=this.dragMove.bind(this),this.resizeUpdate=this.resizeUpdate.bind(this),this.disableSelect=this.disableSelect.bind(this),this.event={resize:[],move:[],open:[],close:[],resizeStart:[],resizeEnd:[],dragStart:[],dragEnd:[]},this.obj.style.position="absolute",this.obj.style.zIndex=VirtualWindow.topZIndex++,this.moveTo(this.posX,this.posY),this.resize(this.width,this.height),this.obj.addEventListener("mousedown",this.resizeStart.bind(this)),this.obj.querySelector(this.option.dragBarSelect).addEventListener("mousedown",this.dragStart.bind(this)),this.option.hideObjSelect&amp;&amp;this.obj.querySelectorAll(this.option.hideObjSelect).forEach(function(a){a.addEventListener("click",this.close.bind(this,!1))},this),this.option.closeObjSelect&amp;&amp;this.obj.querySelectorAll(this.option.closeObjSelect).forEach(function(a){a.addEventListener("click",this.close.bind(this,!0))},this)}VirtualWindow.topZIndex=0;VirtualWindow.consoleLayer=null;VirtualWindow.prototype.toTop=function(){this.obj.style.zIndex=VirtualWindow.topZIndex++;return this};VirtualWindow.prototype.open=function(){this.obj.style.display="block";this.trigger("open");return this};VirtualWindow.prototype.close=function(a){a?this.obj.$del():this.obj.style.display="none";this.trigger("close");return this};VirtualWindow.prototype.on=function(a,b){if(!this.event[a])return!1;this.event[a].push(b);return this};VirtualWindow.prototype.trigger=function(a,b){if(!this.event[a])return!1;this.event[a].forEach(function(a){a.apply(this,b)},this);return this};VirtualWindow.prototype.moveTo=function(a,b){this.posX=parseInt(a);this.posY=parseInt(b);this.obj.style.left=a+"px";this.obj.style.top=b+"px";this.trigger("move");return this};VirtualWindow.prototype.resize=function(a,b){this.width=parseInt(a);this.height=parseInt(b);this.obj.style.width=a+"px";this.obj.style.height=b+"px";this.trigger("resize");return this};VirtualWindow.prototype.disableSelect=function(a){a.preventDefault()};VirtualWindow.prototype.dragStart=function(a){a.stopPropagation();this.toTop();this.barDownX=a.clientX-this.posX;this.barDownY=a.clientY-this.posY;VirtualWindow.consoleLayer.style.display="block";document.addEventListener("selectstart",this.disableSelect);window.addEventListener("mousemove",this.dragMove);window.addEventListener("mouseup",this.dragEnd.bind(this));this.trigger("dragStart")};VirtualWindow.prototype.dragMove=function(a){a.stopPropagation();this.moveTo(a.clientX-this.barDownX,a.clientY-this.barDownY)};VirtualWindow.prototype.dragEnd=function(a){a.stopPropagation();this.barDownY=this.barDownX=null;window.removeEventListener("mousemove",this.dragMove);document.removeEventListener("selectstart",this.disableSelect);VirtualWindow.consoleLayer.style.display="none";this.trigger("dragEnd")};VirtualWindow.prototype.resizeStart=function(a){a.stopPropagation();5&gt;a.layerX?(this.resizeWidth.mode="left",this.resizeWidth.pos=a.layerX):a.layerX+5&gt;this.width&amp;&amp;(this.resizeWidth.mode="right",this.resizeWidth.pos=a.layerX-this.width);5&gt;a.layerY?(this.resizeHeight.mode="top",this.resizeHeight.pos=a.layerY):a.layerY+5&gt;this.height&amp;&amp;(this.resizeHeight.mode="bottom",this.resizeHeight.pos=a.layerY-this.height);if(this.resizeWidth.mode||this.resizeHeight.mode)this.toTop(),VirtualWindow.consoleLayer.style.display="block",document.addEventListener("selectstart",this.disableSelect),window.addEventListener("mousemove",this.resizeUpdate),window.addEventListener("mouseup",this.resizeEnd.bind(this)),this.trigger("resizeStart")};VirtualWindow.prototype.resizeUpdate=function(a){a.stopPropagation();var b=this.posX,f=this.posY,c=this.width,e=this.height;switch(this.resizeWidth.mode){case "left":b=a.clientX-this.resizeWidth.pos;c+=this.posX+this.resizeWidth.pos-a.clientX;break;case "right":c=a.clientX-this.posX-this.resizeWidth.pos}switch(this.resizeHeight.mode){case "top":f=a.clientY-this.resizeHeight.pos;e+=this.posY+this.resizeHeight.pos-a.clientY;break;case "bottom":e=a.clientY-this.posY-this.resizeHeight.pos}this.moveTo(b,f).resize(c,e)};VirtualWindow.prototype.resizeEnd=function(a){if(this.resizeWidth.mode||this.resizeHeight.mode)a.stopPropagation(),this.resizeWidth.mode=!1,this.resizeHeight.mode=!1,window.removeEventListener("mousemove",this.resizeUpdate),document.removeEventListener("selectstart",this.disableSelect),VirtualWindow.consoleLayer.style.display="none",this.trigger("resizeEnd")};window.addEventListener("load",function(){VirtualWindow.consoleLayer=$().$add("div",{style:{position:"fixed",top:0,left:0,right:0,bottom:0,zIndex:2147483647,display:"none"}})});
</code>
<h3>原始版</h3>
<code class="brush: js">
/*
VirtualWindow 虛擬視窗 v1.4 by a0000778
MIT License
*/
function VirtualWindow(obj,left,top,width,height,option){
	this.obj=typeof obj==='string'? $(obj):obj;
	if(!this.obj) return;
	this.width=parseInt(width? width:this.obj.clientWidth,10);
	this.height=parseInt(height? height:this.obj.clientHeight,10);
	var option=option? option:{};
	this.option={
		'dragBarSelect': option.hasOwnProperty('dragBarSelect')? option.bar:'.vw_bar',
		'hideObjSelect': option.hasOwnProperty('hideButtonSelect')? option.hideButtonSelect:null,
		'closeObjSelect': option.hasOwnProperty('closeObjSelect')? option.closeObjSelect:null
	};
	this.posX=parseInt(left);
	this.posY=parseInt(top);
	this.barDownX=null;
	this.barDownY=null;
	this.resizeWidth={'mode':false,'pos':null};
	this.resizeHeight={'mode':false,'pos':null};
	this.dragMove=this.dragMove.bind(this);
	this.resizeUpdate=this.resizeUpdate.bind(this);
	this.disableSelect=this.disableSelect.bind(this);
	this.event={
		'resize': [],
		'move': [],
		'open': [],
		'close': [],
		'resizeStart': [],
		'resizeEnd': [],
		'dragStart': [],
		'dragEnd': []
	};

	this.obj.style.position='absolute';
	this.obj.style.zIndex=VirtualWindow.topZIndex++;
	this.moveTo(this.posX,this.posY);
	this.resize(this.width,this.height);

	this.obj.addEventListener('mousedown',this.resizeStart.bind(this));

	var bar=this.obj.querySelector(this.option.dragBarSelect);
	bar.addEventListener('mousedown',this.dragStart.bind(this));
	this.option.hideObjSelect &amp;&amp; this.obj.querySelectorAll(this.option.hideObjSelect).forEach(function(o){
		o.addEventListener('click',this.close.bind(this,false));
	},this);
	this.option.closeObjSelect &amp;&amp; this.obj.querySelectorAll(this.option.closeObjSelect).forEach(function(o){
		o.addEventListener('click',this.close.bind(this,true));
	},this);
}
VirtualWindow.topZIndex=0;
VirtualWindow.consoleLayer=null;
VirtualWindow.prototype.toTop=function(){
	this.obj.style.zIndex=VirtualWindow.topZIndex++;
	return this;
}
VirtualWindow.prototype.open=function(){
	this.obj.style.display='block';
	this.trigger('open');
	return this;
}
VirtualWindow.prototype.close=function(del){
	if(del) this.obj.$del();
	else this.obj.style.display='none';
	this.trigger('close');
	return this;
}
VirtualWindow.prototype.on=function(eventName,func){
	if(!this.event[eventName]) return false;
	this.event[eventName].push(func);
	return this;
}
VirtualWindow.prototype.trigger=function(eventName,args){
	if(!this.event[eventName]) return false;
	this.event[eventName].forEach(function(func){
		func.apply(this,args);
	},this);
	return this;
}
VirtualWindow.prototype.moveTo=function(x,y){
	this.posX=parseInt(x);
	this.posY=parseInt(y);
	this.obj.style.left=x+'px';
	this.obj.style.top=y+'px';
	this.trigger('move');
	return this;
}
VirtualWindow.prototype.resize=function(width,height){
	this.width=parseInt(width);
	this.height=parseInt(height);
	this.obj.style.width=width+'px';
	this.obj.style.height=height+'px';
	this.trigger('resize');
	return this;
}
VirtualWindow.prototype.disableSelect=function(e){
	e.preventDefault();
}
VirtualWindow.prototype.dragStart=function(e){
	e.stopPropagation();
	this.toTop();
	this.barDownX=e.clientX-this.posX;
	this.barDownY=e.clientY-this.posY;
	VirtualWindow.consoleLayer.style.display='block';
	document.addEventListener('selectstart',this.disableSelect);
	window.addEventListener('mousemove',this.dragMove);
	window.addEventListener('mouseup',this.dragEnd.bind(this));
	this.trigger('dragStart');
}
VirtualWindow.prototype.dragMove=function(e){
	e.stopPropagation();
	this.moveTo(e.clientX-this.barDownX,e.clientY-this.barDownY);
}
VirtualWindow.prototype.dragEnd=function(e){
	e.stopPropagation();
	this.barDownX=null;
	this.barDownY=null;
	window.removeEventListener('mousemove',this.dragMove);
	document.removeEventListener('selectstart',this.disableSelect);
	VirtualWindow.consoleLayer.style.display='none';
	this.trigger('dragEnd');
}
VirtualWindow.prototype.resizeStart=function(e){
	e.stopPropagation();
	if(e.layerX&lt;5){
		this.resizeWidth.mode='left';
		this.resizeWidth.pos=e.layerX;
	}else if(e.layerX+5&gt;this.width){
		this.resizeWidth.mode='right';
		this.resizeWidth.pos=e.layerX-this.width;
	}
	if(e.layerY&lt;5){
		this.resizeHeight.mode='top';
		this.resizeHeight.pos=e.layerY;
	}else if(e.layerY+5&gt;this.height){
		this.resizeHeight.mode='bottom';
		this.resizeHeight.pos=e.layerY-this.height;
	}
	if(this.resizeWidth.mode || this.resizeHeight.mode){
		this.toTop();
		VirtualWindow.consoleLayer.style.display='block';
		document.addEventListener('selectstart',this.disableSelect);
		window.addEventListener('mousemove',this.resizeUpdate);
		window.addEventListener('mouseup',this.resizeEnd.bind(this));
		this.trigger('resizeStart');
	}
}
VirtualWindow.prototype.resizeUpdate=function(e){
	e.stopPropagation();
	var newLeft=this.posX;
	var newTop=this.posY;
	var newWidth=this.width;
	var newHeight=this.height;
	switch(this.resizeWidth.mode){
		case 'left':
			newLeft=e.clientX-this.resizeWidth.pos;
			newWidth+=this.posX+this.resizeWidth.pos-e.clientX;
		break;
		case 'right': newWidth=e.clientX-this.posX-this.resizeWidth.pos;
	}
	switch(this.resizeHeight.mode){
		case 'top':
			newTop=e.clientY-this.resizeHeight.pos;
			newHeight+=this.posY+this.resizeHeight.pos-e.clientY;
		break;
		case 'bottom': newHeight=e.clientY-this.posY-this.resizeHeight.pos;
	}
	this.moveTo(newLeft,newTop).resize(newWidth,newHeight);
}
VirtualWindow.prototype.resizeEnd=function(e){
	if(!(this.resizeWidth.mode || this.resizeHeight.mode)) return;
	e.stopPropagation();
	this.resizeWidth.mode=false;
	this.resizeHeight.mode=false;
	window.removeEventListener('mousemove',this.resizeUpdate);
	document.removeEventListener('selectstart',this.disableSelect);
	VirtualWindow.consoleLayer.style.display='none';
	this.trigger('resizeEnd');
}
window.addEventListener('load',function(){
	VirtualWindow.consoleLayer=$().$add('div',{'style':{
		'position': 'fixed',
		'top': 0,
		'left': 0,
		'right': 0,
		'bottom': 0,
		'zIndex': 2147483647,
		'display': 'none'
	}})
});
</code>
