body{
	margin-top: 40px;
	font-size: 12pt;
	overflow-x: hidden;
}
body::-webkit-scrollbar{
	width: 10px;
}
body::-webkit-scrollbar-track{
	background-color: #E6F6FF;
	border-radius: 5px;
}
body::-webkit-scrollbar-thumb{
	background-color: #9ED5FF;
	border-radius: 5px;
}
body,a{color: #000;text-decoration: none;}
a:hover{text-decoration: underline;}
iframe{border: 1px solid #1A9CFF;width: 100%;}
table{border-collapse: collapse;width: 80%;}
td{padding: 3px;border: 1px solid #1A9CFF;}
ul{ list-style-type: disc;padding-left: 30px; }
.l,.header_menu{ float: left; }
.r{ float: right; }
h1{
	font-size: 14pt;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
}
h2{
	font-size: 12pt;
	font-weight: bold;
	background:linear-gradient(left,#9ED5FF,#FFF);
	background:-moz-linear-gradient(left,#9ED5FF,#FFF);
	background:-webkit-linear-gradient(left,#9ED5FF,#FFF);
	margin-top: 5px;
	margin-bottom: 5px;
}
h3{
	font-size: 12pt;
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 5px;
}

#header{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	background-color: #9ED5FF;
	height: 30px;
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
	z-index: 65535;
}
.header_menu{
	margin-right: 5px;
	cursor: pointer;
	height: 24px;
	overflow: hidden;
}
.header_menu:hover{ background-color: #CDECFF; height: auto;}
.header_item{ padding: 5px 10px;height: 20px; }
.header_subitem:hover{ background-color: #E6F6FF; }

tr.head{
	background-color: #CDECFF;
	font-weight: bold;
}

.submenu{
	width: 200px;
	border-right: 1px solid #000;
	background-color: #FFF;
	position: fixed;
	top: 30px;
	bottom: 0px;
	overflow-y: auto;
	z-index: 255;
}
.submenu_ul{ margin-top: 5px;padding-left: 10px;list-style-type: none; }
.submenu_item{ cursor: pointer; }
.submenu_item:hover{ background-color: #CDECFF; }
.subpage{
	margin-left: 200px;
	padding-left: 10px;
}

div.notice{
	border: 1px solid #1A9CFF;
	background-color: #FFFA9F;
	padding: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
}
