<h1>PHPBB 安裝</h1>
<h2>快速建置</h2>
<p>快速建置可以大幅度省去程式下載、解壓縮、上傳的時間，但無法省去必要的設定，提供給有經驗的使用者使用。</p>
<p>使用前確保伺服器 PHP 提供 Curl 及 Zip 模組，且為 suphp 環境或為可讀可寫</p>
下載地址：<a href="/file/software_phpbb.7z" target="_blank">PHPBB 3.0.12 繁體中文快速建置程序</a>
<h2>事前準備</h2>
<p>以下安裝教學以後台為&nbsp;CPanel&nbsp;且&nbsp;PHP&nbsp;執行環境為&nbsp;suphp&nbsp;為例<br>
進行論壇套裝程式&nbsp;PHPBB&nbsp;的安裝教學<br>
開始前請確定你已經做好以下準備：</p>
<ul>
	<li>FileZilla&nbsp;或&nbsp;其他FTP軟體，本文以&nbsp;FileZilla&nbsp;為例</li>
	<li>7zip&nbsp;或&nbsp;其他壓縮軟體，本文以&nbsp;7zip&nbsp;為例</li>
	<li>擁有一個網頁空間(虛擬主機)</li>
</ul>
<div class="notice">如果圖片太小，你可以將圖片開在新的分頁/視窗</div>
<h2>上傳程式</h2>
<h3>1.下載PHPBB及繁體中文語言包</h3>
<ul>
	<li><a href="https://www.phpbb.com/downloads/" target="_blank">PHPBB下載點</a></li>
	<li><a href="https://www.phpbb.com/customise/db/translation/mandarin_chinese_traditional_script/" target="_blank">PHPBB繁體中文語言包下載點</a></li>
</ul>
<div class="notice">請注意語言包的支援版本是否與PHPBB的版本相對應，若無則有可能發生問題</div>
<img src="image/page/software_phpbb/1.png"><br>
<img src="image/page/software_phpbb/2.png">
<h3>2.解壓縮檔案並將語言包加入PHPBB程式內</h3>
<img src="image/page/software_phpbb/3.png">
<p>將語言包裡的&nbsp;language&nbsp;及&nbsp;styles&nbsp;資料夾解壓縮進PHPBB3資料夾將其取代</p>
<img src="image/page/software_phpbb/4.png">
<h3>3.連上網頁空間的FTP伺服器
<img src="image/page/software_phpbb/5.png">
<h3>4.選擇上傳位址</h3>
<p>選擇你計畫要安裝PHPBB的路徑，非&nbsp;public_html&nbsp;資料夾下必須自行設定</p>
<img src="image/page/software_phpbb/6.png">
<h3>5.上傳PHPBB</h3>
<p>將PHPBB資料夾下的所有檔案及資料夾上傳至FTP伺服器</p>
<img src="image/page/software_phpbb/7.png">
<h2>建立資料庫</h2>
<h3>6.登入CPanel控制台</h3>
<p>CPanel後台位置：http://網站網域:2082&nbsp;或&nbsp;https://網站網域:2083<br>
於瀏覽器輸入CPanel後台位置或直接擊點上面的連接連上CPanel控制台，並輸入帳號及密碼，登入CPanel控制台</p>
<img src="image/page/software_phpbb/8.png">
<h3>7.選擇資料庫管理功能</h3>
<p>擊點&nbsp;MySQL數據庫&nbsp;選項，進入資料庫管理介面</p>
<img src="image/page/software_phpbb/9.png">
<h3>8.建立&nbsp;phpbb&nbsp;專用資料庫</h3>
<p>輸入&nbsp;phpbb，並擊點&nbsp;生成數據庫，建立名為"CPanel帳號_phpbb"的資料庫，然後擊點返回</p>
<img src="image/page/software_phpbb/10.png">
<h3>9.建立&nbsp;phpbb&nbsp;專用資料庫帳號</h3>
<p>於用戶名輸入&nbsp;phpbb，密碼皆輸入相同的密碼(建議使用產生器產生)，並擊點"生成用戶"，建立名為"CPanel帳號_phpbb"的資料庫帳號，然後擊點返回</p>
<img src="image/page/software_phpbb/11.png">
<h3>10.連結資料庫與資料庫帳號</h3>
<img src="image/page/software_phpbb/12.png"><br>
<img src="image/page/software_phpbb/13.png">
<h3>11.登出CPanel控制台</h3>
<p>擊點右上角的LOGOUT登出CPanel控制台</p>
<img src="image/page/software_phpbb/14.png">
<h2>安裝PHPBB</h2>
<h3>12.進入安裝頁面</h3>
<p>在瀏覽器網址列上輸入你的域名，如果前面使用非&nbsp;public_html&nbsp;資料夾則需依自己的設定輸入</p>
<p>切換成中文安裝界面後擊點全新安裝進入安裝頁面</p>
<img src="image/page/software_phpbb/15.png"><br>
<img src="image/page/software_phpbb/16.png">
<h3>13.擊點下一步對伺服器進行測試</h3>
<img src="image/page/software_phpbb/17.png">
<h3>14.擊點最下方的"開始安裝"進行安裝</h3>
<div class="notice">如果你找不到"開始安裝"，代表你的網頁空間不支援，請聯絡你的主機商或選擇其他空間</div>
<h3>15.設定資料庫</h3>
<div class="notice">有些後台的資料庫位址並非&nbsp;127.0.0.1&nbsp;或&nbsp;localhost，則必須依後台提供的位址為準</div>
<img src="image/page/software_phpbb/18.png"><br>
<img src="image/page/software_phpbb/19.png">
<h3>16.建立管理帳號</h3>
<img src="image/page/software_phpbb/20.png"><br>
<img src="image/page/software_phpbb/21.png">
<h3>17.建立設定檔</h3>
<p>確保提示寫入成功，並擊點下一步</p>
<h3>18.進階設定</h3>
<p>通常預設值即可，擊點下一步</p>
<h3>19.建立資料表</h3>
<p>擊點下一步完成安裝</p>
<h3>20.刪除安裝程序</h3>
<p>於FTP上找到&nbsp;install&nbsp;資料夾，並右鍵擊點刪除</p>
<img src="image/page/software_phpbb/22.png">
<h3>21.完成安裝</h3>
<p>已經安裝完成，可以進入後台進行詳細設定</p>