<h1>WordPress 安裝</h1>
<h2>快速建置</h2>
<p>快速建置可以大幅度省去程式下載、解壓縮、上傳的時間，但無法省去必要的設定，提供給有經驗的使用者使用。</p>
<p>使用前確保伺服器 PHP 提供 Curl 及 Zip 模組，且為 suphp 環境或為可讀可寫</p>
下載地址：<a href="/file/software_wordpress.7z" target="_blank">WordPress 3.7.1 繁體中文快速建置程序</a>
<h2>事前準備</h2>
<p>以下安裝教學以後台為&nbsp;CPanel&nbsp;且&nbsp;PHP&nbsp;執行環境為&nbsp;suphp&nbsp;為例<br>
進行部落格套裝程式&nbsp;WordPress&nbsp;的安裝教學<br>
開始前請確定你已經做好以下準備：</p>
<ul>
	<li>FileZilla&nbsp;或&nbsp;其他FTP軟體，本文以&nbsp;FileZilla&nbsp;為例</li>
	<li>7zip&nbsp;或&nbsp;其他壓縮軟體，本文以&nbsp;7zip&nbsp;為例</li>
	<li>擁有一個網頁空間</li>
</ul>
<div class="notice">如果圖片太小，你可以將圖片開在新的分頁/視窗</div>
<div class="notice">圖片上的網址、主機位址都是我當初拿某空間寫的教學，請輸入你自己的位址，不要跟著圖片上的指示填寫</div>
<h2>1.至WordPress台灣中文站下載該套裝程式</h2>
<p>網址：<a href="http://tw.wordpress.org/" target="_blank">http://tw.wordpress.org/</a></p>
<img src="image/page/software_wordpress/1.png">
<h2>2.解壓縮下載下來的檔案</h2>
<img src="image/page/software_wordpress/2.png">
<h2>3.上傳WordPress主程式&nbsp;-&nbsp;連上FTP</h2>
<p>開啟FileZilla，輸入主機位址(網站網域)、使用者名稱、密碼，然後擊點"快速連線"連上伺服器主機</p>
<img src="image/page/software_wordpress/3.png">
<h2>4.上傳WordPress主程式&nbsp;-&nbsp;選擇上傳位置</h2>
<p>這裡以網站主域名的根目錄為例，請切換至/public_html</p>
<img src="image/page/software_wordpress/4.png">
<h2>5.上傳WordPress主程式&nbsp;-&nbsp;檔案上傳</h2>
<p>將第二步驟解壓縮出來的wordpress資料夾裡面的資料全數上傳至伺服器</p>
<div class="notice">注意，請不要上傳到wordpress資料夾，只上傳wordpress資料夾裡面的資料就可以了</div>
<img src="image/page/software_wordpress/5.png">
<h2>6.登入CPanel控制台</h2>
<p>CPanel後台位置：http://網站網域:2082&nbsp;或&nbsp;https://網站網域:2083<br>
於瀏覽器輸入CPanel後台位置或直接擊點上面的連接連上CPanel控制台，並輸入帳號及密碼，登入CPanel控制台</p>
<img src="image/page/software_wordpress/6.png">
<h2>7.建立資料庫&nbsp;-&nbsp;選擇CPanel功能</h2>
<p>擊點 MySQL數據庫 選項，進入資料庫管理介面</p>
<img src="image/page/software_wordpress/7.png">
<h2>8.建立資料庫&nbsp;-&nbsp;新增資料庫</h2>
<p>輸入wordpress，並擊點 生成數據庫，建立名為"CPanel帳號_wordpress"的資料庫，然後擊點返回</p>
<img src="image/page/software_wordpress/8.png">
<h2>9.建立資料庫&nbsp;-&nbsp;新增資料庫帳號</h2>
<p>於用戶名輸入wordpress，密碼皆輸入相同的密碼(建議使用產生器產生)，並擊點"生成用戶"，建立名為"CPanel帳號_wordpress"的資料庫帳號，然後擊點返回</p>
<img src="image/page/software_wordpress/9.png">
<h2>10.建立資料庫&nbsp;-&nbsp;連結資料庫與資料庫帳號</h2>
<p>選取剛剛建立的資料庫及資料庫帳號，並擊點添加<br>
選取所有權限，再擊點更改，然後擊點返回</p>
<img src="image/page/software_wordpress/10.png">
<h2>11.登出CPanel控制台</h2>
<p>擊點右上角的LOGOUT登出CPanel控制台</p>
<img src="image/page/software_wordpress/11.png">
<h2>12.安裝WordPress&nbsp;-&nbsp;進入安裝頁面</h2>
<p>在瀏覽器網址列上輸入你的主網域，並擊點Enter</p>
<h2>13.安裝WordPress&nbsp;-&nbsp;建立設定檔</h2>
<p>擊點 "建立一個設定檔案"</p>
<img src="image/page/software_wordpress/13.png">
<h2>14.安裝WordPress&nbsp;-&nbsp;歡迎頁</h2>
<p>擊點 "衝吧！"</p>
<img src="image/page/software_wordpress/14.png">
<h2>15.安裝WordPress&nbsp;-&nbsp;設定資料庫</h2>
<p>填寫資料庫名稱、帳號、密碼，並擊點 "送出"</p>
<img src="image/page/software_wordpress/15.png">
<h2>16.安裝WordPress&nbsp;-&nbsp;資料庫設定完成</h2>
<p>擊點 "開始安裝"</p>
<div class="notice">如果你的畫面跟我不一樣，代表你的資料庫設定有誤，請擊點再試一次，重新設定(跳回步驟15)</div>
<img src="image/page/software_wordpress/16.png">
<h2>17.安裝WordPress&nbsp;-&nbsp;設定部落格</h2>
<p>填寫你的部落格標題、管理帳號、管理密碼(兩次需相同)、你的E-mail，並擊點 "安裝WordPress"</p>
<img src="image/page/software_wordpress/17.png">
<h2>18.安裝WordPress&nbsp;-&nbsp;完成</h2>
<p>安裝已經完成，請登入WordPress做細部設定</p>
<div class="notice">安全性考量，建議再使用Filezilla連上伺服器，並刪除/public_html/wp-admin/install.php</div>