<h2>程式註解</h2>
<code class="brush: js">
//像這樣前面加兩個斜線即代表註解，直到換行前都算是註解的範圍，註解不會被執行

/*這種註解是範圍型註解，
不管你打什麼還是幻行，
在被包起來範圍內都不會被執行*/
</code>
<h2>逃逸字元</h2>
<p>逃逸字元的表示方法，共通點就是前面先加一個斜線，後面再接上字元本身或一個代表用的字元</p>
<table>
	<tr class="head"><td>表示方法</td><td>代表字元</td></tr>
	<tr class="head"><td colspan="2">換行</td></tr>
	<tr><td>\r</td><td>return&nbsp;(0x0D)</td></tr>
	<tr><td>\n</td><td>newline&nbsp;(0x0A)</td></tr>
	<tr><td colspan="2">不同系統的換行差異：<br>
	Windows系統的換行為\r\n，Linux系統為\n，Mac為\r，
	但在網頁裡不論\n還是\r都可以換行，且\n\r會變成換2行</td></tr>
	<tr class="head"><td colspan="2">可顯示字元</td></tr>
	<tr><td>\\</td><td>\</td></tr>
	<tr><td>\'</td><td>'&nbsp;(只有當字串使用單引號做起始及結尾才需要)</td></tr>
	<tr><td>\"</td><td>'&nbsp;(只有當字串使用雙引號做起始及結尾才需要)</td></tr>
	<tr class="head"><td colspan="2">其他字元</td></tr>
	<tr><td>\t</td><td>Tab</td></tr>
	<tr><td>\xASCII代碼</td><td>可以直接輸入十六進制的ASCII代碼，比如說"\x61"代表"a"</td></tr>
</table>
<div class="notice">其他不常用字元或有用沒用都沒差的字元不一一列出</div>