<h2>說明</h2>
<p>Class 為定義一種物件，並定義該種物件的方法，便於後續需要時新增一個或數個物件。</p>
<p>比如對話框是一個 Class，用Class新增一個物件表示新增對話框，並提供顯示、關閉、更新內容等方法。</p>
<div class="notice">此篇雖為基礎，但通常出現在較大型程式的應用，可先跳過自訂義 Class 的部份</div>
<div class="notice">class 是保留字，但 Class 不是，寫的時候不可用到保留字，否則返回錯誤</div>
<h2>Class結構說明</h2>
<code class="brush: js">
//Class 本身為一個函數，於新增時執行，並返回一個Object
function Class(/*新增物件時的參數*/){
	//新增物件時執行的程式
	//這裡可以用this定義物件屬性值或特有方法函數
	this.num=1;
	this.func=function(){};
	//沒有定義的部份則會從 Class 的屬性 prototype 下尋找
	alert(this.value);
	//this 能存取 Object 本身，但對 prototype 是只讀，需要更動 prototype 還是要透過 Class.prototype 去改
}
//在 Class 的屬性 prototype 下，所有的屬性都可以由物件讀取，且與同一個 Class 的物件共用
//如果該 Object 有用 this 定義同名的方法或變數，則以 Object 定義的為準
Class.prototype.method=function(/*方法參數*/){
	//方法的執行程式
	//這裡一樣可以使用 this 存取 Object
}
Class.prototype.value='data';//不一定是方法，也可以是變數
</code>
<div class="notice">方法也可以寫在建立 Object 時，以 this 去定義，可以使 Object 執行較快，但相對的，新增的速度則較慢，且大量新增的情況下將大量佔用記憶體！</div>
<h2>以Class新增物件</h2>
<code class="brush: js">
//使用 new 即可新增，Class 表示 Class 名稱
var obj=new Class(/*新增時的參數*/);
//然後就可以調用方法
obj.method(/*方法參數*/);
//也可以讀取變數
alert(obj.value);
</code>
