<h2>判斷、條件分歧</h2>
<h3>使用方法：if...</h3>
<code class="brush: js">
if(條件判斷){
	//當條件符合時執行的程式
}
</code>
<h3>使用方法：if...else...</h3>
<code class="brush: js">
if(條件判斷){
	//當條件符合時執行的程式
}else{
	//當條件不符合時執行的程式
}
</code>
<h3>使用方法：if...else if...else...</h3>
<code class="brush: js">
if(條件判斷1){
	//當條件1符合時執行的程式
}else if(條件判斷2){
	//當條件2符合時執行的程式
}else if(條件判斷3){
	//當條件3符合時執行的程式
}else if(條件判斷N){
	//當條件N符合時執行的程式
}else{
	//當上述條件階不符合時執行的程式
}
</code>
<h3>使用方法：switch...case...break...default...</h3>
<code class="brush: js">
switch(vname){
	case 'plan1':
		//當變數vname的值等於'plan1'時執行的程式
	break;//break可以跳離switch區塊的程式
	case 'plan2':
		//當變數vname的值等於'plan2'時執行的程式
	break;
	//所以當每個case區段沒有break做結尾，就會接下去繼續執行程式
	case 'plan3':
		//當變數vname的值等於'plan3'時執行的程式
	case 'plan4':
		//當變數vname的值等於'plan4'或'plan3'時執行的程式
	case 'planN':
		//當變數vname的值等於'planN'或'plan4'或'plan3'時執行的程式
	break;
	default:
		//當上述條件皆不符合時執行的程式，不需要可以直接去掉default區段
}
</code>
<h2>迴圈</h2>
<h3>while迴圈</h3>
<code class="brush: js">
while(執行條件){
	//當符合執行條件時重覆執行，直到不符合為止
	//所以必須小心，避免寫出無窮迴圈
}
</code>
<h3>do...while迴圈</h3>
<code class="brush: js">
do{
	//當符合執行條件時重覆執行，直到不符合為止
	//就算條件不符合也會執行一次
	//所以必須小心，避免寫出無窮迴圈
}while(執行條件)
</code>
<h3>for迴圈</h3>
<code class="brush: js">
for(n=0;n&lt;5;n++){//設置變數;執行條件;執行後的變數操作
	//當符合執行條件時重覆執行，直到不符合為止
}
</code>
<h3>for in迴圈</h3>
<code class="brush: js">
//將變數obj下每一個子物件索引值傳入i，並執行迴圈
//變數obj必須為陣列或物件
for(i in obj){
	//這裡執行的程式可以通過變數名稱[索引值]存取子變數，比如說obj[i]
}
</code>
<h3>Array.forEach()</h3>
<code class="brush: js">
[1,2,3,4,5].forEach(function(子物件值,子物件索引,陣列本體){
	//這裡執行的程式可以通過陣列本體[子物件索引]或子物件值存取子變數
},父物件);
//範例
x=[5,4,3,2,1];
[1,2,3,4,5].forEach(function(v,k,obj){
	alert('obj['+k+']='+obj[k]+' v='+v+' x['+k+']='+this.k);
},x);
</code>
<h3>break跳出</h3>
<p>於迴圈內遇到break會直接跳離該迴圈，執行下一段程式</p>
<code class="brush: js">
var n=0;
while(n&lt;5){
	alert(n);
	break;
	n++;
}
</code>
<div class="notice">Array.forEach雖然有迴圈的效果，但並不屬於迴圈，所以無法使用break</div>
<h3>continue直接進行下一個</h3>
<code class="brush: js">
for(n=0;n&lt;5;n++){
	alert(n);
	continue;
	//這裡的程式不會被執行，而會直接開始下一次迴圈
}
</code>
<h2>自訂函數</h2>
<code class="brush: js">
function(arg1,arg2,..){
	//這裡可以直接通過參數名稱對傳入值進行存取
	alert(arg1);
	alert(arg2);
	...
	//或是通過變數arguments進行存取
	alert(arguments[0]);
	alert(arguments[1]);
	...
	//可以通過return返回值並跳出函數
	return arg1;
	//return後的程式不會被執行
}
</code>
<h2>截取錯誤</h2>
<code class="brush: js">
try{
	//可能會發生錯誤的程式
}catch(e){
	//發生錯誤中斷後的處理，代入變數e可以輸出錯誤內容
}
</code>