<h2>算數運算子</h2>
<table>
	<tr class="head"><td>範例</td><td>效果</td></tr>
	<tr><td>4+2</td><td>4加2等於6</td></tr>
	<tr><td>4-2</td><td>4減2等於2</td></tr>
	<tr><td>4*2</td><td>4乘2等於8</td></tr>
	<tr><td>4/2</td><td>4除2等於2</td></tr>
	<tr><td>4%2</td><td>取4除2的餘數等於0</td></tr>
</table>
<div class="notice">字串相加可以進行串連，像是'Java'+'Script'會得到'JavaScript'</div>
<h2>比較運算子</h2>
<table>
	<tr class="head"><td>範例</td><td>效果</td><td>結果</td></tr>
	<tr><td>'1'==1</td><td>等於</td><td>true</td></tr>
	<tr><td>'1'===1</td><td>全等</td><td>false</td></tr>
	<tr><td>'1'!=1</td><td>不等於</td><td>false</td></tr>
	<tr><td>'1'!==1</td><td>不全等於</td><td>true</td></tr>
	<tr><td>1&gt;2</td><td>大於</td><td>false</td></tr>
	<tr><td>1&lt;2</td><td>小於</td><td>true</td></tr>
	<tr><td>1&gt;=2</td><td>大於等於</td><td>false</td></tr>
	<tr><td>1&lt;=</td><td>小於等於</td><td>true</td></tr>
</table>
<div class="notice">可通過對文字做大小比較做到排序效果</div>
<h2>邏輯運算子</h2>
<table>
	<tr class="head"><td>範例</td><td>效果</td><td>返回</td></tr>
	<tr>
		<td>true&amp;&amp;true<br>true&amp;&amp;false<br>false&amp;&amp;false</td>
		<td>AND運算</td>
		<td>true<br>false<br>false</td>
	</tr>
	<tr>
		<td>true||true<br>true||false<br>false||false</td>
		<td>OR運算</td>
		<td>true<br>true<br>false</td>
	</tr>
	<tr>
		<td>true^true<br>true^false<br>false^false</td>
		<td>XOR運算</td>
		<td>false<br>true<br>false</td>
	</tr>
</table>
<h2>位元運算子</h2>
<table>
	<tr class="head"><td>範例</td><td>效果</td><td>計算</td></tr>
	<tr><td>~0xFF00FF00</td><td>NOT計算</td><td>11111111000000001111111100000000<br>00000000111111110000000011111111</td></tr>
	<tr><td>0x33&nbsp;&amp;&nbsp;0x3C</td><td>AND計算</td><td>　　00110011<br>＆　00111100<br>＝　00110000</td></tr>
	<tr><td>0x33&nbsp;|&nbsp;0x3C</td><td>OR計算</td><td>　　00110011<br>︿　00111100<br>＝　00111111</td></tr>
	<tr><td>0x33&nbsp;^&nbsp;0x3C</td><td>XOR計算</td><td>　　00110011<br>｜　00111100<br>＝　00001111</td></tr>
	<tr><td>0x04&nbsp;&lt;&lt;&nbsp;2</td><td>左移計算</td><td>00000100<br>00010000</td></tr>
	<tr><td>0x04&nbsp;&gt;&gt;&nbsp;2</td><td>右移計算</td><td>00000100<br>00000001</td></tr>
	<tr><td>-1&nbsp;&gt;&gt;&gt;&nbsp;2</td><td>無正負號右移計算</td><td>11111111111111111111111111111111<br>01111111111111111111111111111111</td></tr>
</table>
<h2>指定</h2>
<table>
	<tr class="head"><td>範例</td><td>效果</td><td>等同</td></tr>
	<tr><td>a=1</td><td>指定變數a為1</td><td></td></tr>
	<tr class="head"><td colspan="3">算術運算</td></tr>
	<tr><td>a+=2</td><td>指定變數a為a加2的結果</td><td>a=a+2</td></tr>
	<tr><td>a-=2</td><td>指定變數a為a減2的結果</td><td>a=a-2</td></tr>
	<tr><td>a*=2</td><td>指定變數a為a乘2的結果</td><td>a=a*2</td></tr>
	<tr><td>a/=2</td><td>指定變數a為a除2的結果</td><td>a=a/2</td></tr>
	<tr><td>a%=2</td><td>指定變數a為a除2的餘數</td><td>a=a%2</td></tr>
	<tr class="head"><td colspan="3">位元運算</td></tr>
	<tr><td>a&amp;=2</td><td>指定變數a為a&nbsp;&amp;&nbsp;2的結果</td><td>a=a&amp;2</td></tr>
	<tr><td>a|=2</td><td>指定變數a為a&nbsp;|&nbsp;2的結果</td><td>a=a|2</td></tr>
	<tr><td>a^=2</td><td>指定變數a為a&nbsp;^&nbsp;2的結果</td><td>a=a^2</td></tr>
	<tr><td>a&lt;&lt;=2</td><td>指定變數a為a&nbsp;&lt;&lt;&nbsp;2的結果</td><td>a=a&lt;&lt;2</td></tr>
	<tr><td>a&gt;&gt;=2</td><td>指定變數a為a&nbsp;&gt;&gt;&nbsp;2的結果</td><td>a=a&gt;&gt;2</td></tr>
	<tr><td>a&gt;&gt;&gt;=2</td><td>指定變數a為a&nbsp;&gt;&gt;&gt;&nbsp;2的結果</td><td>a=a&gt;&gt;&gt;2</td></tr>
</table>
<h2>遞增/遞減</h2>
<table>
	<tr class="head"><td>範例</td><td>效果</td><td>傳回</td></tr>
	<tr><td>a++</td><td>傳回a再加1</td><td>a</td></tr>
	<tr><td>a--</td><td>傳回a再減1</td><td>a</td></tr>
	<tr><td>++a</td><td>a加1再傳回</td><td>a+1</td></tr>
	<tr><td>--a</td><td>a減1再傳回</td><td>a-1</td></tr>
</table>
<h2>其他</h2>
條件運算
<code class="brush: js">
條件? 條件符合傳回值:條件不符合傳回值
a? true:false
a==b? true:false
</code>
建立新物件
<code class="brush: js">
new Array()
new Object()
new Data()
</code>
分隔/連續
<code class="brush: js">
var a,b,c;
a=[1,2,3];
</code>
刪除變數
<code class="brush: js">
delete a;
delete a,b,c;
</code>
反向
<code class="brush: js">
!true //得到false
</code>
<h2>優先順序</h2>
解析順序依照以下表格由上至下依序解析
<table>
	<tr class="head"><td>運算子</td><td>補充說明</td></tr>
	<tr><td>.<br>[]<br>()</td><td>.、[]用於存取子物件</td></tr>
	<tr><td>++<br>--<br>!<br>-<br>~<br>delete</td><td>這裡的-是指負號，像是-1、-a之類</td></tr>
	<tr><td>*<br>/<br>%</td><td></td></tr>
	<tr><td>+<br>-</td><td></td></tr>
	<tr><td>&lt;&lt;<br>&gt;&gt;<br>&gt;&gt;&gt;</td><td></td></tr>
	<tr><td>&lt;<br>&lt;=<br>&gt;<br>&gt;=</td><td></td></tr>
	<tr><td>==<br>===<br>!=<br>!==</td><td></td></tr>
	<tr><td>&amp;</td><td></td></tr>
	<tr><td>^</td><td></td></tr>
	<tr><td>|</td><td></td></tr>
	<tr><td>&amp;&amp;</td><td></td></tr>
	<tr><td>||</td><td></td></tr>
	<tr><td>a? true:false</td><td></td></tr>
	<tr><td>=</td><td></td></tr>
	<tr><td>,</td><td></td></tr>
</table>