<h2>直接內嵌在HTML文件</h2>
<code class="brush: xml">
&lt;html&gt;
	&lt;head&gt;
		&lt;script&gt;
			//JavaScript程式碼
		&lt;/script&gt;
	&lt;/head&gt;
	&lt;body&gt;
		&lt;script&gt;
			//JavaScript程式碼
		&lt;/script&gt;
	&lt;/body&gt;
&lt;/html&gt;
</code>
<h2>從外部調用JS文件</h2>
<code class="brush: xml">
&lt;html&gt;
	&lt;head&gt;
		&lt;script&nbsp;src="JavaScript文件位址"&gt;&lt;/script&gt;
	&lt;/head&gt;
	&lt;body&gt;
		&lt;script&nbsp;src="JavaScript文件位址"&gt;&lt;/script&gt;
	&lt;/body&gt;
&lt;/html&gt;
</code>