<h2>變數宣告</h2>
<p>宣告全域變數</p>
<code class="brush: js">
var name1='value1';
name2='value2';
</code>
<p>宣告區域變數</p>
<p>區域變數只有在函數內宣告才會有效果，當同名的全域變數及區域變數同時存在時，
會優先使用區域變數。為避免混淆，不建議將區域變數的名稱與全域變數的名稱重複。
如果怕分不清全域變數及區域變數，可以記成全域變數沒有var，區域變數有var。</p>
<code class="brush: js">
function func(){
	var name1='value1';
}
</code>
<h2>變數命名規則</h2>
<ul>
	<li>第一個字必須為英文字母，或是"$"、"_"，子物件也一樣</li>
	<li>其餘字元可以由英文字母、數字、"$"以及"_"組成</li>
	<li>部分瀏覽器支援中文名稱的變數，第一個字亦可使用中文，但不建議變數名稱包含中文</li>
</ul>
<h2>型態</h2>
<p>共有5種基本型態布林(boolean)、數值(number)、字串(string)、陣列(array)、物件(object)，
及2種特殊型態未定義(undefined)、空值(null)。</p>
<p>其中陣列、物件、空值使用typeof偵測會返回object，其他則照常返回。</p>
<code class="brush: js">
alert('typeof結果'+"\n"
+'未定義(undefined): '+typeof und+"\n"
+'空值(null): '+typeof null+"\n"
+'布林(boolean): '+typeof true+"\n"
+'數值(number): '+typeof 123+"\n"
+'字串(string): '+typeof 'str'+"\n"
+'陣列(array): '+typeof []+"\n"
+'物件(object): '+typeof {});
</code>
<p>所以想判斷變數 varname 是否為陣列或物件可以使用以下方法</p>
<code class="brush: js">
if(typeof varname.length=='number'){
	alert('是陣列');
}else{
	alert('是物件');
}
</code>
<p>判斷是否為空值則直接判斷是否與null相等即可</p>
<code class="brush: js">
if(varname==null){
	alert('是空值');
}else{
	alert('不是空值');
}
</code>
<h2>各型態宣告方法</h2>
<code class="brush: js">
/*空值*/
varname=null;
/*布林*/
varname=false;
varname=true;
/*數值*/
varname=123;//整數
varname=1.23;//浮點數
varname=0xff;//十六進制
varname=077;//八進制
varname=1e+5//科學符號
/*字串*/
varname='abc';
varname="abc";
/*陣列*/
varname=new Array();
varname=[];
/*物件*/
varname=new Object();
varname={};
</code>