<h2>依 ID 選取一個的DOM節點</h2>
<code class="brush: js">
document.getElementById('main');//選取ID為main的節點，直接傳回該節點
</code>
<div class="notice">ID 為唯一值，不應重複，只會傳回 1 個節點</div>
<h2>依 name 選取DOM節點</h2>
<code class="brush: js">
document.getElementsByName('bar');//選取name為bar的節點，傳回一個陣列
document.getElementsByName('bar')[0];//選取name為bar的第一個節點，傳回該節點
</code>
<h2>依 class 選取DOM節點</h2>
<code class="brush: js">
document.getElementsByClassName('notice');//選取class中包含notice的節點，傳回一個陣列
document.getElementsByClassName('notice')[0];//選取class中包含notice的第一個節點，傳回該節點
</code>
<div class="notice">class 是以空白為分隔，這裡做的不是字串搜索，所以 class 名稱必須打全名</div>
<h2>依標簽名稱選取DOM節點</h2>
<code class="brush: js">
document.getElementsByTagName('a');//選取標簽名稱為a的節點，即選取所有超連結，傳回一個陣列
document.getElementsByTagName('a')[0];//選取標簽名稱為a的第一個節點，傳回該節點
</code>