<h2>新增DOM節點</h2>
<p>執行範例</p>
<code class="brush: js">
var dom=document.createElement('div');//建立一個div標籤
dom.id='adiv';
dom.class='astyle';
dom.inerHTML='abc';
//執行上述步驟以後得到以下標籤
//&lt;div id="adiv" class="astyle"&gt;abc&lt;/div&gt;

var text=document.createTextNode('文字');//新增一個字串

//放置方法
document.body.appendChild(dom);//將標籤放到body標籤內的最後方
dom.appendChild(text);//在前面的div標籤裡添加一個字串

bdom=document.getElementById('bdiv');//找一個ID為bdiv的標籤
document.body.insertBefore(dom,bdom);//將標籤放到body標籤內ID為bdiv的標籤的前方
</code>
<h2>取代DOM節點</h2>
<code class="brush: js">
var newdom=document.createElement('span');//先建立一個新節點
var olddom=document.getElementById('old');//找到要取代的節點
olddom.parentNode.replaceChild(newdom,olddom);//以新節點取代舊節點
</code>
<div class="notice">parentNode表示該節點的父節點，表示在父節點下找尋特定節點將之取代</div>
<h2>刪除DOM節點</h2>
<p>執行範例</p>
<code class="brush: js">
obj=document.getElementById('todel');//找一個ID為todel的標籤
obj.parentNode.removeChild(obj);
//obj.parentNode代表ID為todel的標籤的父標籤
//removeChild(obj)將其下ID為todel的標籤刪除
</code>
