<h2>前置動作</h2>
<code class="brush: js">
var dom=document.getElementById('main');//先選取想修改的節點
</code>
<div class="notice">createElement 這類方法的傳回值也可以使用</div>
<h2>屬性操作</h2>
<code class="brush: js">
dom.setAttribute('id','content');//將id改為content
var id=dom.getAttribute('id');//取得id當前值
dom.removeAttribute('id');//移除id這個屬性
</code>
<div class="notice">也可以使用dom.id進行操作，但並不是所有屬性都適用此方法</div>
<h2>內容修改</h2>
<code class="brush: js">
dom.innerHTML='這裡可以直接替換該節點下的HTML代碼';
dom.outerHTML='這裡可以直接替換該節點下的HTML代碼，包含該節點本身';
</code>
<div class="notice">某些特殊字串必須要先經過處理後才能放進去使用，否則會被當成HTML代碼處理，比如&amp;,&lt;,&gt;</div>
<h2>class屬性</h2>
<p>class屬性為套用CSS的方法之一，可依需求套用不同的class。</p>
<code class="brush: js">
dom.classList.add('a');//套用class a
var class1=b.classList.item(0);//取得第一個class
var class1=b.classList[0];//取得第一個class的另一種方法
dom.classList.del('a');//去除class a
</code>
<h2>style屬性</h2>
<p>style屬性即內崁在HTML裡的CSS代碼，以JavaScript操作雖然名稱可能有略改，但有一定標準可尋。</p>
<code class="brush: js">
dom.style.backgroundColor='#000000';//將該節點背景改成黑色
dom.style.border='1px #000 solid';//替該節點加上1px的黑框
</code>
