<h2>範例說明</h2>
這裡將示範cookie基本的的讀取、新增跟修改、刪除
<h2>cookie格式說明</h2>
從&nbsp;document.cookie&nbsp;可以讀取到以下格式的cookie資料
<code class="brush: plain">
Key1=Value1;Key2=Value2;Key3=Value3
</code>
<h2>程式碼</h2>
<code class="brush: js">
/*
setcookie(存入cookie的Key,該Key的值,有效時間(秒))
若該Key不存在，則會進行新增
若當前已存在相同Key的cookie，則會修改該Key的值
若有效時間為0或負值，則會進行刪除
*/
function setcookie(name,value,time){
	var t=new Date();
	t.setTime(t.getTime()+time*1000);//乘以1000是因為毫秒的原因
	//將值通過JS內建含數escape進行處理，以迴避值內包含無法使用的字串以及無法妥善處理的字元
	document.cookie=name+'='+escape(value)+(time? ';expires='+t.toGMTString():'');
}
/*
getcookie(欲讀取cookie的Key)
返回該cookie的值，若不存在則反回false
*/
function getcookie(name){
	var s=document.cookie.indexOf(name+'=');
	if(s!=-1){//判斷是否有找到該Key
		var e=document.cookie.indexOf(';', s);
		//若沒有找到結尾的';'，則代表該值為最後一個值，直接截取到字串最後的部分
		//將返回的值先通過JS內建含數unescape還原回原始值，再傳回
		return unescape(document.cookie.substring(s+name.length+1,(e==-1)? document.cookie.length:e)); 
	}
	return false;
}
</code>