<h2>無條件捨去</h2>
小數點後的數值直接捨去
<code class="brush: js">
Math.floor(1.2);//返回1
Math.floor(1.7);//返回1
Math.floor(12);//返回12
</code>
<h2>無條件進位</h2>
小數點後的數值直接進位
<code class="brush: js">
Math.ceil(1.2);//返回2
Math.ceil(1.7);//返回2
Math.ceil(12);//返回12
</code>
<h2>四捨五入</h2>
小數點後的數值四捨五入
<code class="brush: js">
Math.round(1.2);//返回1
Math.round(1.7);//返回2
Math.round(12);//返回12
</code>