<h2>產生隨機值</h2>
函數&nbsp;Math.random&nbsp;可產生0至1以下的數值，即會有0的結果，但不會有1的結果
<code class="brush: js">
Math.random();//返回小於1，大於等於0的結果
Math.floor(Math.random()*10);//返回小於10，大於等於0的結果
Math.floor(Math.random()*10+5);//返回小於15，大於等於5的結果
</code>
<h2>取最大值</h2>
<code class="brush: js">
Math.max(5,6,10,8,2);//返回10
//調用陣列的版本
Math.max.apply(null,[5,6,10,8,2]);//返回10
</code>
<h2>取最小值</h2>
<code class="brush: js">
Math.min(5,6,10,8,2);//返回2
//調用陣列的版本
Math.min.apply(null,[5,6,10,8,2]);//返回2
</code>