<h2>次方計算</h2>
計算某數的幾次方的答案
<code class="brush: js">
Math.pow(2,10);//返回2的10次方值
</code>
<h2>平方根</h2>
計算某數的平方根
<code class="brush: js">
Math.sqrt(16);//返回16的平方根
</code>
<h2>絕對值</h2>
將某數的負號去除，必傳回 0 或 0 以上的數值
<code class="brush: js">
Math.abs(10);//返回10
Math.abs(0);//返回0
Math.abs(-10);//返回10
</code>