<h2>宣告方法</h2>
<code class="brush: js">
/表示法/選項
new RegExp('表示法','選項')//選項為非必要參數
</code>
<div class="notice">使用new RegExp方法需要考慮字串的逃逸字元比如說\d要寫成\\d，
建議在已有固定表示法的情況下使用前者以避免沒注意逃逸字元而寫錯表示法</div>
<h2>相關函數</h2>
<h3>檢查字串</h3>
<p>RegExp.test(String)使用範例</p>
<code class="brush: js">
/^[a-zA-Z].+\d$/.test('a123b456');//檢查字串開頭是否為英文，結尾是否為數字，返回true
/^\d.+[a-zA-Z]$/.test('a123b456');//檢查字串開頭是否為數字，結尾是否為英文，返回false
</code>
<h3>截取字串</h3>
<p>String.match(RegExp)使用範例</p>
<code class="brush: js">
'abc def'.match(/\w+/);
'abc def'.match(new RegExp('\\w+'));
//返回['abc']
'abc def'.match(/\w+/g);
'abc def'.match(new RegExp('\\w+','g'));
//返回['abc','def']
'abc def'.match(/\d+/g);
'abc def'.match(new RegExp('\\d+','g'));
//沒有任何字串符合，返回null
</code>
<p>RegExp.exec(String)使用範例</p>
<code class="brush: js">
reg=/\d+/g;
str='0a1b2c3d';
//每次執行返回一個結果
reg.exec(str);//第一次執行返回['0']
reg.exec(str);//第二次執行返回['1']
reg.exec(str);//第三次執行返回['2']
reg.exec(str);//第四次執行返回['3']
</code>
<h3>取代字串</h3>
<p>String.replace(Regexp,String)使用範例</p>
<code class="brush: js">
'abc def'.replace(/\w+/,'XXX');
'abc def'.replace(new RegExp('\\w+'),'XXX');
//返回'XXX def'
'abc def'.replace(/\w+/g,'XXX');
'abc def'.replace(new RegExp('\\w+','g'),'XXX');
//返回'XXX XXX'
'abc def'.replace(/\d+/g,'XXX');
'abc def'.replace(new RegExp('\\d+','g'),'XXX');
//返回'abc def'
</code>
<h3>尋找字串</h3>
<p>String.search(Regexp)使用範例</p>
<code class="brush: js">
'abcdef'.match(/[a-zA-Z]/);
'abcdef'.match(new RegExp('[a-zA-Z]'));
//於第一個字元找到英文，返回0
'abc def'.match(/\d+/g);
'abc def'.match(new RegExp('\\d+','g'));
//沒有找到字串符合，返回-1
</code>
<div class="notice">這裡使用選項g全域比對並沒有效果</div>
<h2>表示法</h2>
<h3>表示法</h3>
<table>
	<tr class="head"><td>表示法</td><td>說明</td></tr>
	<tr class="head"><td colspan="2">開頭結尾</td></tr>
	<tr><td>^</td><td>比對字串的開頭，比如說/^a/表示字串開頭必須為a</td></tr>
	<tr><td>$</td><td>比對字串的結尾，比如說/a$/表示字串結尾必須為a</td></tr>
	<tr class="head"><td colspan="2">比對次數</td></tr>
	<tr><td>+</td><td>比對1次以上</td></tr>
	<tr><td>*</td><td>比對0次以上</td></tr>
	<tr><td>?</td><td>比對0次或1次</td></tr>
	<tr><td>{a}</td><td>比對a次</td></tr>
	<tr><td>{a,}</td><td>比對a次以上</td></tr>
	<tr><td>{a,b}</td><td>比對a~b次</td></tr>
	<tr class="head"><td colspan="2">分隔、或</td></tr>
	<tr><td>(表示法)</td><td>分隔一段表示法，比如說/(abc){3}/表示比對3次abc</td></tr>
	<tr><td>表示法1|表示法2|表示法3...</td><td>表示比對表示法1或2或3都可以，比如說/^(a|b|c)$/表示字串為a,b,c任一都可以，建議搭配()使用</td></tr>
	<tr class="head"><td colspan="2">比對字元</td></tr>
	<tr><td>.</td><td>比對換行字元\r及\n以外的字元</td></tr>
	<tr>
		<td>[abc]</td>
		<td>比對括號中的其中一個字元，比如說/^[abc]*$/表示字串中只可以有a,b,c三個字出現<br>快捷表示方法
		<ul>
			<li>[a-z]表示英文小寫a到z，而不用全部打出來</li>
			<li>[a-f]表示英文小寫a到f，即可依照字母順序任意截一段出來</li>
			<li>[0-9]表示數字0到9，而不用全部打出來</li>
			<li>[0-5]表示數字0到5，即可依照數字順序任意截一段出來</li>
			<li>[\x41-\x5a]表示ASCII字元編號0x41到0x5a之間的所有字元</li>
			<li>[\u4e00-\u9fa5]表示雙字元4e00至9fa5的編碼範圍，同時也表示中文字的範圍(但其中包含一些日文字等等)</li>
		</ul></td></tr>
	<tr><td>[^abc]</td><td>比對括號中以外的字元，比如說/[^abc]/表示字串中不可以有a,b,c三個字出現，快捷表示方法請參考[abc]的說明</td></tr>
	<tr><td>\cX</td><td>比對控制字元X，詳細參考ASCII表</td></tr>
	<tr><td>\d</td><td>比對數字，等於[0-9]</td></tr>
	<tr><td>\D</td><td>比對非數字，等於[^0-9]</td></tr>
	<tr><td>\s</td><td>比對空白字元，等於[ \f\n\r\t\v]</td></tr>
	<tr><td>\S</td><td>比對非空白字元，等於[^ \f\n\r\t\v]</td></tr>
	<tr><td>\w</td><td>比對英文及數字及底線，等於[a-zA-Z0-9_]</td></tr>
	<tr><td>\W</td><td>比對英文及數字及底線以外的字元，等於[^a-zA-Z0-9_]</td></tr>
	<tr><td>\xXX</td><td>比對指定的字元編號，XX以十六進制表示</td></tr>
	<tr><td>\uXXXX</td><td>比對指定的雙字元編號，XXXX以十六進制表示</td></tr>
	<tr class="head"><td colspan="2">逃逸字元</td></tr>
	<tr><td colspan="2">參考基礎所提到的逃逸字元</td></tr>
	<tr><td colspan="2">參考以\為開頭的所有表示法</td></tr>
	<tr><td>\</td><td>需要用到前面的表示法所提到的字元('^','$','+','*','?','{','}','(',')','[',']','\')，前面須加上\</td></tr>
</table>
<h3>比對選項</h3>
<table>
	<tr class="head"><td>代號</td><td>說明</td></tr>
	<tr><td>g</td><td>全域比對，而不是只找1個</td></tr>
	<tr><td>i</td><td>不分大小寫</td></tr>
	<tr><td>m</td><td>尋找多行，即^表示每行開頭，$表示每行結尾</td></tr>
</table>
<h2>常用正規式</h2>
<ul>
	<li>E-mail: /^[a-zA-Z0-9#+.]+@([a-zA-Z0-9-]{3,}\.)+[a-zA-Z]{2,4}(\.[a-zA-Z]{2})?$/</li>
</ul>