<div class="submenu">
	<h1>JavaScript套件</h1>
	<h2>全域函數庫</h2>
	<ul class="submenu_ul">
		<li class="submenu_item" onClick="Loader.page('plugin/javascript/Global_DOM','page');">DOM 操作類</li>
		<li class="submenu_item" onClick="Loader.page('plugin/javascript/Global_Date','page');">日期時間類</li>
		<li class="submenu_item" onClick="Loader.page('plugin/javascript/Global_Ajax','page');">Ajax 類</li>
		<li class="submenu_item" onClick="Loader.page('plugin/javascript/Global_CanvasGUI','page');">CanvasGUI 圖形介面繪製</li>
	</ul>
	<h2>功能擴充類</h2>
	<ul class="submenu_ul">
		<li class="submenu_item" onClick="Loader.page('plugin/javascript/HTMLtimer','page');">當前時間&amp;計時器</li>
		<li class="submenu_item" onClick="Loader.page('plugin/javascript/ScreenDiv','page');">全頁覆蓋半透明</li>
		<li class="submenu_item" onClick="Loader.page('plugin/javascript/VirtualWindow','page');">虛擬視窗</li>
	</ul>
</div>
<div id="page" class="subpage">
	<h2>JavaScript套件 首頁</h2>
	<p>這裡提供一些便利的 JavaScript 小程式，提供需要時快速調用，省去編寫的時間。</p>
	<h2>重要提示</h2>
	<p>這裡的程式已經確保於 Chrome 瀏覽器可以正常執行，其他瀏覽器就不知道了，不過通常除了IE以外都可以正常執行。</p>
	<p>如果調用多個這裡的程式，導致互相衝突的情況請與我聯絡，我將解決此衝突問題。如果是和別的程式衝突了請自行處理。</p>
	<h2>使用提醒</h2>
	<p>套件如果與其他套件互相關聯，請自行加上該關連套件。</p>
</div>
