<div class="submenu">
	<h1>PHP套件</h1>
	<h2>函數庫</h2>
	<ul class="submenu_ul">
		<li class="submenu_item" onClick="Loader.page('plugin/PHP/lib_DB','page');">MySQL通用函數庫</li>
	</ul>
	<h2>元件</h2>
	<ul class="submenu_ul">
		<li class="submenu_item" onClick="Loader.page('plugin/PHP/plugin_checkcode','page');">繁體中文圖形驗證碼</li>
	</ul>
</div>
<div id="page" class="subpage">
	<h2>PHP套件 首頁</h2>
	<p>這裡提供一些 PHP 函數庫或元件，以便需要時快速調用，省去編寫的時間。</p>
	<h2>重要提示</h2>
	<p>這裡的程式已經確保於 PHP 5.4 正常執行，並盡可能與舊版PHP相容，如有任何建議或發現BUG，請與我聯絡，謝謝。</p>
	<h2>使用提醒</h2>
	<p>使用前請確保所在的 PHP 環境已經安裝相關的模組，套件如果與其他套件互相關聯，請自行加上該關連套件。</p>
</div>