<div class="submenu">
	<h1>JavaScript</h1>
	<h2>基礎</h2>
	<ul class="submenu_ul">
		<li class="submenu_item" onClick="Loader.page('teach/js/basic_htmltag','page');">宣告方法</li>
		<li class="submenu_item" onClick="Loader.page('teach/js/basic_var','page');">變數</li>
		<li class="submenu_item" onClick="Loader.page('teach/js/basic_operator','page');">運算子</li>
		<li class="submenu_item" onClick="Loader.page('teach/js/basic_function','page');">基本函數</li>
		<li class="submenu_item" onClick="Loader.page('teach/js/basic_class','page');">Class(類)</li>
		<li class="submenu_item" onClick="Loader.page('teach/js/basic_other','page');">註解、逃逸字元</li>
	</ul>
	<h2>數值</h2>
	<ul class="submenu_ul">
		<li class="submenu_item" onClick="Loader.page('teach/js/math_cfr','page');">小數取捨</li>
		<li class="submenu_item">三角函數</li>
		<li class="submenu_item" onClick="Loader.page('teach/js/math_randmaxmin','page');">亂數、大小取值</li>
		<li class="submenu_item" onClick="Loader.page('teach/js/math_powsqrtabs','page');">次方、絕對值</li>
	</ul>
	<h2>字串</h2>
	<ul class="submenu_ul">
		<li class="submenu_item">擷取串接</li>
		<li class="submenu_item">取代</li>
		<li class="submenu_item">編碼轉換</li>
		<li class="submenu_item" onClick="Loader.page('teach/js/string_regexp','page');">正規表達式</li>
	</ul>
	<h2>陣列</h2>
	<ul class="submenu_ul">
		<li class="submenu_item">增刪</li>
		<li class="submenu_item">尋找</li>
		<li class="submenu_item">排序</li>
	</ul>
	<h2>時間</h2>
	<h2>事件</h2>
	<h2>表單</h2>
	<h2>DOM操作</h2>
	<ul class="submenu_ul">
		<li class="submenu_item" onClick="Loader.page('teach/js/dom_adddel','page');">增刪</li>
		<li class="submenu_item" onClick="Loader.page('teach/js/dom_select','page');">選取</li>
		<li class="submenu_item" onClick="Loader.page('teach/js/dom_edit','page');">修改</li>
	</ul>
	<h2>傳輸 &amp; 儲存</h2>
	<ul class="submenu_ul">
		<li class="submenu_item">JSON</li>
		<li class="submenu_item">AJAX</li>
	</ul>
	<h2>實例</h2>
	<ul class="submenu_ul">
		<li class="submenu_item" onClick="Loader.page('teach/js/example_cookie','page');">Cookie操作</li>
	</ul>
</div>
<div id="page" class="subpage">
	<h2>JavaScript 首頁</h2>
	<p>這裡介這裡介紹的是瀏覽器上執行的JavaScript，
	伺服器執行的Node.js也許哪天會開一個新的區塊也說不定。</p>
	<p>這裡不介紹jQuery，因為jQuery屬於JavaScript函數庫而非基本的JavaScript函數，而且我不喜歡用，
	但可能會提到一些自己寫函數庫的東西。</p>
	<p>由於我的文筆很差，所以大概只會有說明跟範例而已，廢話應該很少。</p>
	<h2>重要提示</h2>
	<p>由於我是自學出來的，所使用的名詞可能跟其他人不同，學之前做好可能無法使用名詞直接溝通的心理準備。</p>
	<p>不過會的東西就是會，不要太在意正確的名詞，而且名詞也有各種無法準確解釋的點，所以少用名詞多寫程式吧。</p>
	<h2>前置知識</h2>
	<ul>
		<li>HTML基本知識</li>
		<li>CSS基本知識</li>
	</ul>
</div>
