<div class="submenu">
	<h1>Node.js</h1>
	<h2>套件整理</h2>
	<ul class="submenu_ul">
		<li class="submenu_item" onClick="Loader.page('teach/nodejs/package_list','page');">統整</li>
	</ul>
	<h2>MySQL資料庫</h2>
	<ul class="submenu_ul">
		<li class="submenu_item" onClick="Loader.page('teach/nodejs/mysql_connect','page');">連線</li>
	</ul>
	<h2>實際範例</h2>
	<ul class="submenu_ul">
		<li class="submenu_item" onClick="Loader.page('teach/nodejs/example_hash','page');">Hash值計算</li>
	</ul>
</div>
<div id="page" class="subpage">
	<h2>Node.js 首頁</h2>
	<p>這裡介這裡介紹的是Node.js，脫離了瀏覽器的JavaScript！</p>
	<p>由於我才剛學，很多習慣還被綁在瀏覽器裡，要看的人做好亂糟糟的心理準備。</p>
	<p>沒有JavaScript基礎的人請去JavaScript教學頁補充</p>
	<h2>重要提示</h2>
	<p>由於我是自學出來的，所使用的名詞可能跟其他人不同，學之前做好可能無法使用名詞直接溝通的心理準備。</p>
	<p>不過會的東西就是會，不要太在意正確的名詞，而且名詞也有各種無法準確解釋的點，所以少用名詞多寫程式吧。</p>
	<h2>前置知識</h2>
	<ul>
		<li>JavaScript基本語法</li>
	</ul>
</div>