<h1>網站公告</h1>
<table>
	<tr class="head">
		<td>日期</td><td>公告內容</td>
	</tr>
	<tr>
		<td>2021/07/07</td>
		<td>此處不再進行更新，懶得寫成文章了，新的網站會以自己筆記的方式來寫，網址：<a href="https://note.a0000778.name">https://note.a0000778.name</a></td>
	</tr>
	<tr>
		<td>2014/05/06</td>
		<td>舊的免費域名收了，新域名為code.a0000778.idv.biz</td></td>
	</tr>
	<tr>
		<td>2014/05/02</td>
		<td>修正全站程式碼授權為MIT License，原來程式跟內容使用的授權是不同的！</td>
	</tr>
	<tr>
		<td>2014/03/06</td>
		<td>將逐漸對各頁面新增執行效果展示，伺服器端腳本等除外</td>
	</tr>
	<tr>
		<td>2014/02/18</td>
		<td>於&nbsp;關於作者&nbsp;頁面更新全站授權方式（由BY-SA改為BY），除特別聲明外皆使用此授權方式</td>
	</tr>
	<tr>
		<td>2013/09/25</td>
		<td>於&nbsp;關於作者&nbsp;頁面加上全站授權方式，除特別聲明外皆使用此授權方式</td>
	</tr>
	<tr>
		<td>2013/09/20</td>
		<td>不會自動重新整理的問題已經修正，外掛程式&nbsp;SyntaxHighlighter&nbsp;尚有問題，等待作者更新修正</td>
	</tr>
	<tr>
		<td>2013/09/12</td>
		<td>由於最近開始碰Node.js，所以開了個教學頁，不過很多舊習慣被綁住了，要看Node.js教學頁的要做好心理準備</td>
	</tr>
	<tr>
		<td>2013/09/09</td>
		<td>網站公開。若點下去沒有反應或空白頁，代表該頁還沒寫，或是你使用的IE瀏覽器不支援(因為其他瀏覽器都確定支援了)。</td>
	</tr>
	<tr>
		<td>2013/09/05</td>
		<td>當前外掛程式&nbsp;SyntaxHighlighter&nbsp;尚有問題
		，若有無法正常顯示程式碼且沒有自動重新整理的情況，請手動進行重新整理</td>
	</tr>
</table>
<h1>更新記錄</h1>
<table>
	<tr class="head">
		<td>日期</td><td>更新內容</td>
	</tr>
	<tr><td>2014/11/02</td><td>更新PHP套件 - MySQL通用函數庫更新至版本2.2</td></tr>
	<tr><td>2014/10/06</td><td>新增JS教學頁 -  Class</td></tr>
	<tr><td>2014/06/24</td><td>JS套件 - 虛擬視窗更新至版本1.4</td></tr>
	<tr><td>2014/06/17</td><td>新增JS套件 - 虛擬視窗</td></tr>
	<tr><td>2014/05/30</td><td>修正 Ajax 函數庫 option.formData 無效</td></tr>
	<tr><td>2014/05/19</td><td>修正 DOM 函數庫 function $replace 有誤</td></tr>
	<tr><td>2014/05/17</td><td>新增 Ajax 函式庫、更新 DOM 函數庫</td></tr>
	<tr><td>2014/03/09</td><td>新增1個JS教學頁、更新1個JS教學頁</td></tr>
	<tr><td>2014/03/02</td><td>繁體中文圖形驗證碼函數庫正式加入GitHub、MySQL通用函數庫加入GitHub</td></tr>
	<tr><td>2014/02/15</td><td>更新PHP套件 - MySQL通用函數庫及修正其範例註解，詳細請查看該套件頁面</td></tr>
	<tr><td>2014/01/30</td><td>修正JS套件 - 函式庫 時間日期類的月份顯示錯誤</td></tr>
	<tr><td>2014/01/21</td><td>JS套件 - CanvasGUI 圖形介面繪製函式庫(HTML5) 計劃發佈！</td></tr>
	<tr><td>2013/12/30</td><td>新增PHP套件 - MySQL通用函數庫</td></tr>
	<tr><td>2013/12/11</td><td>新增2個JS教學頁</td></tr>
	<tr><td>2013/11/27</td><td>JavaScript套件&nbsp;-&nbsp;全頁覆蓋半透明，修正JavaScript套件&nbsp;-&nbsp;當前時間&amp;計時器說明頁面的語法錯誤</td></tr>
	<tr><td>2013/11/19</td><td>新增1個JavaScript套件&nbsp;-&nbsp;DOM 操作類</td></tr>
	<tr><td>2013/11/15</td><td>繁體中文圖形驗證碼函數庫更新至版本4.10，詳細更新內容請查詢該程式更新記錄</td></tr>
	<tr><td>2013/11/14</td><td>JavaScript套件&nbsp;-&nbsp;當前時間&amp;計時器，新增定時執行功能，並改善舊有功能執行效率</td></tr>
	<tr><td>2013/11/11</td><td>新增JavaScript套件區域，新增2個JavaScript套件</td></tr>
	<tr><td>2013/11/10</td><td>PHPBB安裝教學新增快速建置PHP腳本，修正WordPress安裝教學新增快速建置PHP腳本的1個BUG</td></tr>
	<tr><td>2013/11/09</td><td>WordPress安裝教學新增快速建置PHP腳本，新增 Bitcoin 贊助方法</td></tr>
	<tr><td>2013/10/05</td><td>繁體中文圖形驗證碼函數庫公開</td></tr>
	<tr><td>2013/09/25</td><td>新增1個JS教學頁、PHPBB安裝教學，略微修改WordPress安裝教學，新增全站授權方式</td></tr>
	<tr><td>2013/09/20</td><td>新增2個JS教學頁，修正部分不會自動重新整理的BUG<br>調整頁面載入方式避免快取導致無法即時更新頁面</td></tr>
	<tr><td>2013/09/19</td><td>新增2個Node.js教學頁</td></tr>
	<tr><td>2013/09/12</td><td>新增1個JS教學頁，新增Node.js教學分類</td></tr>
	<tr><td>2013/09/10</td><td>更新1個JS教學頁</td></tr>
	<tr><td>2013/09/09</td><td>新增1個JS教學頁、更動JS教學頁首頁<br>修正繁體中文圖形驗證碼調用範例的檔名錯誤</td></tr>
	<tr><td>2013/09/06</td><td>新增3個JS教學頁</td></tr>
	<tr><td>2013/09/05</td><td>將過去寫的WordPress安裝教學轉過來</td></tr>
	<tr><td>2013/09/04</td><td>新增2個JS教學頁、一個計畫公開原始碼的套件</td></tr>
	<tr><td>2013/09/03</td><td>全域JS程式、CSS樣式大致完成</td></tr>
</table>
