<h1>MySQL通用函數庫</h1>
<h2>介紹說明</h2>
<p>此函數庫的目標在於將PHP不同的資料庫存取方法合而為一，面對不同環境時仍可通過調用不同庫，直接在新的環境上執行。
由於不同存取方法各有不同的特性，因此調用此通用函數庫必然會失去一些特性。</p>
<p>如果以速度為第一目標，還是請直接使用PHP直接提供的函數，這才是最快的執行方法。</p>
<h2>調用範例</h2>
<code class="brush: php">
&lt;?php
//依照環境選用不同的函數庫
if(class_exists('PDO'))
	require './db_pdo.class.php';
else if(function_exists('mysql_connect'))
	require './db_mysql.class.php';
else
	exit('找不到符合此環境的資料庫函數庫');
//與建立資料庫連線
if(!$db=DB::connect($host,$user,$pass,$dbname))
	exit('資料庫連線失敗');
//插入新資料(表名稱,資料)
$db->insert('table',array('key'=>'olddata'));
//更動舊資料(表名稱,新資料,WHERE,WHERE參數)
$db->update('table',array('key'=>'newdata'),'`key`=?',array('olddata'));
//刪除舊資料(表名稱,WHERE,WHERE參數)
$db->delete('table','`key`=?',array('olddata'));
//對資料庫做查詢(直接執行的SQL)
$q1=$db->exec('SELECT * FROM `table`;');
//對資料庫做包含參數的查詢(SQL,參數)
$q2=$db->query('SELECT * FROM `table` WHERE `key`=? LIMIT ?;',array('data',10));
//取出查詢的資料(exec或query)
while($d=$db->fetch($q1)){}
while($d=$db->fetch($q2)){}
?>
</code>
<h2>程式碼</h2>
<p>下載地址：<a href="https://github.com/a0000778/lib_php_db_mysql/archive/2.2.zip" target="_blank">MySQL通用函數庫 v2.2</a></p>
<p>GitHub：<a href="https://github.com/a0000778/lib_php_db_mysql">a0000778/lib_php_db_mysql</a></p>
<h2>程式更新記錄</h2>
<pre>
2.2	新增mysqli的支援
2.1	修正mysql版本的update函式的$wherearg參數沒有效果的問題及提高對位址處理的嚴僅性
2.0	新增delete函式
1.0	初版,程式公開
</pre>
