<h1>繁體中文圖形驗證碼</h1>
<h2>展示</h2>
<img src="image/page/plugin_checkcode/demo.png">
<h2>調用範例</h2>
<p>檔案 image.php</p>
<code class="brush: php">
&lt;?php
//調用繁體中文圖形驗證碼函數庫
require './checkcode.class.php';
session_start();
header('Content-Type: image/png');
$codepic=new checkcode();
//隨機產生4個字做為答案
$_SESSION['code']=implode(',',$codepic->randcode(4));
//參數依序: 字體大小(px),字體大小浮動(px),強度,強度浮動,隨機字型
$codepic->gencodepic(30,10,3,2,array(//
	'./font1.ttf',
	'./font2.ttf',
	'./font3.ttf'
));
//輸出圖片
imagepng($codepic->codepic);
?>
</code>
<p>檔案 check.php</p>
<code class="brush: php">
&lt;?php
//調用繁體中文圖形驗證碼函數庫
require './checkcode.class.php';
//檢查回答
if(isset($_POST['code']) && strlen($_POST['code'])!=0){
	session_start();
	$code=explode(',',$_SESSION['code']);
	$codepic=new checkcode();
	if($codepic->check($code,$_POST['code'])){
		echo '驗證成功';
	}else{
		echo '驗證失敗';
	}
	unset($_SESSION['code']);
}
?>
</code>
<p>檔案 index.html</p>
<code class="brush: xml">
&lt;img src="image.php">&lt;br>
&lt;form action="check.php" method="post">
	&lt;input type="text" name="code">
	&lt;input type="submit" value="檢查">
&lt;/form>
</code>
<h2>程式碼</h2>
<p>下載地址：<a href="/file/plugin_checkcode.7z" target="_blank">繁體中文圖形驗證碼&nbsp;v4.10</a></p>
<p>GitHub：<a href="https://github.com/a0000778/checkcode">a0000778/checkcode</a></p>
<h2>程式更新記錄</h2>
<p>最終測試記錄：人工輸入83%正確率(共&nbsp;241&nbsp;次測試)</p>
<pre>
A.B
A=程式版本
B=字庫版本
1.0	初版,開放公開測試
1.1	刪除字庫文字"卜": 扭曲後不易辨識
1.2	刪除字庫文字"厠": 為簡體字
1.3	刪除字庫文字"荕": 為罕見字
1.4	刪除字庫文字"苯": 為罕見字
	刪除字庫文字"冮": 為罕見簡體字
	刪除字庫文字"姖": 為罕見字
	刪除字庫文字"釆": 為簡體字
	刪除字庫文字"宫": 為簡體字
	刪除字庫文字"拚": 為罕見字
1.5	刪除字庫文字"千": 扭曲畫線後不易辨識
	刪除字庫文字"于": 扭曲畫線後不易辨識
1.6	刪除字庫文字"睁": 為簡體字
2.6	調整扭曲常數的指定方法
	將干擾線功能改為可自由指定條數
	新增隨機字體功能
2.7	刪除字庫文字"戈": 為罕見字
2.8	刪除字庫文字"淩": 為罕見字
	刪除字庫文字"凌": 為罕見字
3.8	改用FreeType 2描繪文字
	新增otf字型格式的支援
4.9	刪除字庫文字"恣": 為罕見字
	將答案中的空白自動去除後再進行比對
4.10	刪除字庫文字"侠": 為簡體字
	刪除字庫文字"刹": 為罕見字
	刪除字庫文字"俢": 為罕見字
	刪除字庫文字"姫": 為罕見字
	刪除字庫文字"専": 為罕見字
	刪除字庫文字"恊": 為罕見字
	刪除字庫文字"挣": 為簡體字
	刪除字庫文字"浄": 非標準字
	刪除字庫文字"浅": 為簡體字
	刪除字庫文字"倂": 為罕見字
	刪除字庫文字"恵": 為罕見字
	刪除字庫文字"残": 為簡體字
	刪除字庫文字"耻": 為罕見字
	刪除字庫文字"减": 非標準字
	刪除字庫文字"啓": 為罕見字
	刪除字庫文字"徣": 為罕見字
	刪除字庫文字"殻": 非標準字
	刪除字庫文字"硏": 非標準字
	刪除字庫文字"袐": 非標準字
</pre>
